In [1]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (3.3.2)
Requirement already satisfied: requests in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (from vaderSentiment) (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (3.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install nltk

Requirement already satisfied: nltk in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (3.6.5)
Requirement already satisfied: click in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in /Users/joakimlarsen/opt/anaconda3/lib/python3.9/site-packages (from nltk) (4.62.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import re
from nltk.sentiment import SentimentIntensityAnalyzer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [4]:
AppleR = pd.read_csv(r"/Users/joakimlarsen/Documents/MasterOppgave/Apple/Apple_Ferdig.csv")

In [5]:
AppleR.shape

(10189, 16)

In [6]:
AppleR.head(3)

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,author_link,article_content,appears_in,symbols,related_articles,Time.1
0,11,2018-03-13,18:30:00,11,474,{'$oid': '5ab8d2273efc2c03c520d021'},https://www.nasdaq.com/article/with-38-million...,"With 38 Million Subscribers, Apple Music Growt...",{'$date': '2018-03-12T18:30:00Z'},"By Evan Niu, CFA, Motley Fool",https://www.nasdaq.com/author/fool,It's been just over a month since Apple(NASDAQ...,"PersonalFinance,Stocks",AAPL,NaN,{'$date': '2018-03-12T18:30:00Z'}
1,12,2018-03-13,18:05:00,12,475,{'$oid': '5ab8d22f3efc2c03c520d033'},https://www.nasdaq.com/article/report-apple-in...,Report: Apple Inc. Prepping a New 13.3-inch Ma...,{'$date': '2018-03-12T18:05:00Z'},"By Ashraf Eassa, Motley Fool",https://www.nasdaq.com/author/fool,A new report from DIGITIMES asserts that Apple...,"PersonalFinance,Stocks",AAPL,NaN,{'$date': '2018-03-12T18:05:00Z'}
2,16,2018-03-14,17:45:00,16,777,{'$oid': '5ab8d5993efc2c03c520d7f1'},https://www.nasdaq.com/article/could-intel-cor...,Could Intel Corporation Actually Buy Broadcom ...,{'$date': '2018-03-13T17:45:00Z'},"By Leo Sun, Motley Fool",https://www.nasdaq.com/author/fool,Intel(NASDAQ: INTC) reportedly considered buy...,"PersonalFinance,Stocks","AVGO,INTC,QCOM,AAPL",NaN,{'$date': '2018-03-13T17:45:00Z'}

In [7]:
AppleAksje = pd.read_csv(r"/Users/joakimlarsen/Documents/MasterOppgave/Apple/AppleStockPrices_Label.csv")

In [8]:
AppleAksje.shape

(10274, 9)

In [9]:
AppleAksje.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Label
0,1980-12-12,0.100600,0.101037,0.100600,0.100600,469033600,0.0,0.0,0
1,1980-12-15,0.095789,0.095789,0.095352,0.095352,175884800,0.0,0.0,0
2,1980-12-16,0.088790,0.088790,0.088353,0.088353,105728000,0.0,0.0,0

In [10]:
#Merge datasettene
merge = AppleR.merge(AppleAksje, how = "inner", on = "Date")

In [11]:
#Create a function to get the subjecticity
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

#Create a fuction to get the polarity
def getPolarity(text):
    return TextBlob(text).sentiment.polarity

In [12]:
#Create two new columns "Subjectivity" and "Polarity"
merge["Subjectivity"] = merge["article_content"].apply(getSubjectivity)
merge["Polarity"] = merge["article_content"].apply(getPolarity)

In [13]:
import nltk

from nltk.corpus import stopwords
stop = stopwords.words('english')

In [14]:
merge['article_content_without_stopwords'] = merge['article_content'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [15]:
from nltk.stem import PorterStemmer

port = PorterStemmer()

In [16]:
def stem_words(article_content_without_stopwords):
    return " ".join([port.stem(word) for word in article_content_without_stopwords.split()])

merge["EtterStemming"] = merge["article_content_without_stopwords"].apply(lambda article_content_without_stopwords: stem_words(article_content_without_stopwords))
merge.head()

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,...,Low,Close,Volume,Dividends,Stock Splits,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming
0,11,2018-03-13,18:30:00,11,474,{'$oid': '5ab8d2273efc2c03c520d021'},https://www.nasdaq.com/article/with-38-million...,"With 38 Million Subscribers, Apple Music Growt...",{'$date': '2018-03-12T18:30:00Z'},"By Evan Niu, CFA, Motley Fool",...,43.094648,43.270161,126774000,0.0,0.0,0,0.535762,0.259726,It's month since Apple(NASDAQ: AAPL) reportedl...,it' month sinc apple(nasdaq: aapl) reportedli ...
1,12,2018-03-13,18:05:00,12,475,{'$oid': '5ab8d22f3efc2c03c520d033'},https://www.nasdaq.com/article/report-apple-in...,Report: Apple Inc. Prepping a New 13.3-inch Ma...,{'$date': '2018-03-12T18:05:00Z'},"By Ashraf Eassa, Motley Fool",...,43.094648,43.270161,126774000,0.0,0.0,0,0.557425,0.166736,A new report DIGITIMES asserts Apple(NASDAQ: A...,a new report digitim assert apple(nasdaq: aapl...
2,37,2018-03-13,16:50:00,37,1651,{'$oid': '5ab8d26e3efc2c03c520d0b7'},https://www.nasdaq.com/article/apple-roundup-i...,"Apple Roundup: iPhone X, Irish Tax, New Headph...",{'$date': '2018-03-12T16:50:00Z'},"By Sejuti Banerjea, Zacks.com",...,43.094648,43.270161,126774000,0.0,0.0,0,0.385577,0.034884,Analyst reports continue indicate iPhone X dem...,analyst report continu indic iphon x demand la...
3,38,2018-03-13,16:12:00,38,1660,{'$oid': '5ab8d2b83efc2c03c520d159'},https://www.nasdaq.com/article/3-strong-buy-se...,3 Strong Buy Semiconductor Stocks to Consider Now,{'$date': '2018-03-12T16:12:00Z'},"By Ryan McQueeney, Zacks.com",...,43.094648,43.270161,126774000,0.0,0.0,0,0.489353,0.146362,Semiconductor stocks battered recent market se...,semiconductor stock batter recent market sell-...
4,8,2018-03-13,07:00:00,8,356,{'$oid': '5ab8d0723efc2c03c520cc4f'},https://www.nasdaq.com/article/apple-google-se...,"Apple, Google see reputation of corporate bran...",{'$date': '2018-03-13T07:00:00Z'},By Reuters,...,43.094648,43.270161,126774000,0.0,0.0,0,0.420026,0.163776,By Stephen NellisMarch 13 (Reuters) - Apple In...,by stephen nellismarch 13 (reuters) - appl inc...

In [17]:
from nltk.text import TextCollection

def vectorize(corpus):
    corpus = [tokenize(EtterStemming) for EtterStemming in corpus]
    texts = TextCollection(corpus)
    
    for EtterStemming in corpus:
        yield {
            term: texts.tf_idf(term, EtterStemming)
            for term in EtterStemming
        }

In [18]:
merge["TF-IDF"] = merge["EtterStemming"].apply(lambda EtterStemming: vectorize(EtterStemming))
merge.head()

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,...,Close,Volume,Dividends,Stock Splits,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming,TF-IDF
0,11,2018-03-13,18:30:00,11,474,{'$oid': '5ab8d2273efc2c03c520d021'},https://www.nasdaq.com/article/with-38-million...,"With 38 Million Subscribers, Apple Music Growt...",{'$date': '2018-03-12T18:30:00Z'},"By Evan Niu, CFA, Motley Fool",...,43.270161,126774000,0.0,0.0,0,0.535762,0.259726,It's month since Apple(NASDAQ: AAPL) reportedl...,it' month sinc apple(nasdaq: aapl) reportedli ...,<generator object vectorize at 0x7f7e58792a50>
1,12,2018-03-13,18:05:00,12,475,{'$oid': '5ab8d22f3efc2c03c520d033'},https://www.nasdaq.com/article/report-apple-in...,Report: Apple Inc. Prepping a New 13.3-inch Ma...,{'$date': '2018-03-12T18:05:00Z'},"By Ashraf Eassa, Motley Fool",...,43.270161,126774000,0.0,0.0,0,0.557425,0.166736,A new report DIGITIMES asserts Apple(NASDAQ: A...,a new report digitim assert apple(nasdaq: aapl...,<generator object vectorize at 0x7f7e588d8900>
2,37,2018-03-13,16:50:00,37,1651,{'$oid': '5ab8d26e3efc2c03c520d0b7'},https://www.nasdaq.com/article/apple-roundup-i...,"Apple Roundup: iPhone X, Irish Tax, New Headph...",{'$date': '2018-03-12T16:50:00Z'},"By Sejuti Banerjea, Zacks.com",...,43.270161,126774000,0.0,0.0,0,0.385577,0.034884,Analyst reports continue indicate iPhone X dem...,analyst report continu indic iphon x demand la...,<generator object vectorize at 0x7f7e588d8f90>
3,38,2018-03-13,16:12:00,38,1660,{'$oid': '5ab8d2b83efc2c03c520d159'},https://www.nasdaq.com/article/3-strong-buy-se...,3 Strong Buy Semiconductor Stocks to Consider Now,{'$date': '2018-03-12T16:12:00Z'},"By Ryan McQueeney, Zacks.com",...,43.270161,126774000,0.0,0.0,0,0.489353,0.146362,Semiconductor stocks battered recent market se...,semiconductor stock batter recent market sell-...,<generator object vectorize at 0x7f7e588d87b0>
4,8,2018-03-13,07:00:00,8,356,{'$oid': '5ab8d0723efc2c03c520cc4f'},https://www.nasdaq.com/article/apple-google-se...,"Apple, Google see reputation of corporate bran...",{'$date': '2018-03-13T07:00:00Z'},By Reuters,...,43.270161,126774000,0.0,0.0,0,0.420026,0.163776,By Stephen NellisMarch 13 (Reuters) - Apple In...,by stephen nellismarch 13 (reuters) - appl inc...,<generator object vectorize at 0x7f7e588d89e0>

In [19]:
merge.head()

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,...,Close,Volume,Dividends,Stock Splits,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming,TF-IDF
0,11,2018-03-13,18:30:00,11,474,{'$oid': '5ab8d2273efc2c03c520d021'},https://www.nasdaq.com/article/with-38-million...,"With 38 Million Subscribers, Apple Music Growt...",{'$date': '2018-03-12T18:30:00Z'},"By Evan Niu, CFA, Motley Fool",...,43.270161,126774000,0.0,0.0,0,0.535762,0.259726,It's month since Apple(NASDAQ: AAPL) reportedl...,it' month sinc apple(nasdaq: aapl) reportedli ...,<generator object vectorize at 0x7f7e58792a50>
1,12,2018-03-13,18:05:00,12,475,{'$oid': '5ab8d22f3efc2c03c520d033'},https://www.nasdaq.com/article/report-apple-in...,Report: Apple Inc. Prepping a New 13.3-inch Ma...,{'$date': '2018-03-12T18:05:00Z'},"By Ashraf Eassa, Motley Fool",...,43.270161,126774000,0.0,0.0,0,0.557425,0.166736,A new report DIGITIMES asserts Apple(NASDAQ: A...,a new report digitim assert apple(nasdaq: aapl...,<generator object vectorize at 0x7f7e588d8900>
2,37,2018-03-13,16:50:00,37,1651,{'$oid': '5ab8d26e3efc2c03c520d0b7'},https://www.nasdaq.com/article/apple-roundup-i...,"Apple Roundup: iPhone X, Irish Tax, New Headph...",{'$date': '2018-03-12T16:50:00Z'},"By Sejuti Banerjea, Zacks.com",...,43.270161,126774000,0.0,0.0,0,0.385577,0.034884,Analyst reports continue indicate iPhone X dem...,analyst report continu indic iphon x demand la...,<generator object vectorize at 0x7f7e588d8f90>
3,38,2018-03-13,16:12:00,38,1660,{'$oid': '5ab8d2b83efc2c03c520d159'},https://www.nasdaq.com/article/3-strong-buy-se...,3 Strong Buy Semiconductor Stocks to Consider Now,{'$date': '2018-03-12T16:12:00Z'},"By Ryan McQueeney, Zacks.com",...,43.270161,126774000,0.0,0.0,0,0.489353,0.146362,Semiconductor stocks battered recent market se...,semiconductor stock batter recent market sell-...,<generator object vectorize at 0x7f7e588d87b0>
4,8,2018-03-13,07:00:00,8,356,{'$oid': '5ab8d0723efc2c03c520cc4f'},https://www.nasdaq.com/article/apple-google-se...,"Apple, Google see reputation of corporate bran...",{'$date': '2018-03-13T07:00:00Z'},By Reuters,...,43.270161,126774000,0.0,0.0,0,0.420026,0.163776,By Stephen NellisMarch 13 (Reuters) - Apple In...,by stephen nellismarch 13 (reuters) - appl inc...,<generator object vectorize at 0x7f7e588d89e0>

In [23]:
merge.to_csv("AppleTFIDF.csv")

In [20]:
#Create a function to get the sentiment scores
def getSIA(EtterStemming):
    sia = SentimentIntensityAnalyzer()
    sentiment = sia.polarity_scores(EtterStemming)
    return sentiment

In [21]:
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/joakimlarsen/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [22]:
#Get the sentiment scores for each day
compound = []
neg = []
pos = []
neu = []
SIA = 0

for i in range(0, len(merge["EtterStemming"])):
    SIA = getSIA(merge["EtterStemming"][i])
    compound.append(SIA["compound"])
    neg.append(SIA["neg"])
    neu.append(SIA["neu"])
    pos.append(SIA["pos"])

In [24]:
#Store the sentiment scores in the merge data set:
merge["Compound"] = compound
merge["Negative"] = neg
merge["Neutral"] = neu
merge["Positive"] = pos

In [25]:
#Show the merge data
merge.head(3)

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,...,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming,TF-IDF,Compound,Negative,Neutral,Positive
0,11,2018-03-13,18:30:00,11,474,{'$oid': '5ab8d2273efc2c03c520d021'},https://www.nasdaq.com/article/with-38-million...,"With 38 Million Subscribers, Apple Music Growt...",{'$date': '2018-03-12T18:30:00Z'},"By Evan Niu, CFA, Motley Fool",...,0,0.535762,0.259726,It's month since Apple(NASDAQ: AAPL) reportedl...,it' month sinc apple(nasdaq: aapl) reportedli ...,<generator object vectorize at 0x7f7e58792a50>,0.9932,0.052,0.788,0.160
1,12,2018-03-13,18:05:00,12,475,{'$oid': '5ab8d22f3efc2c03c520d033'},https://www.nasdaq.com/article/report-apple-in...,Report: Apple Inc. Prepping a New 13.3-inch Ma...,{'$date': '2018-03-12T18:05:00Z'},"By Ashraf Eassa, Motley Fool",...,0,0.557425,0.166736,A new report DIGITIMES asserts Apple(NASDAQ: A...,a new report digitim assert apple(nasdaq: aapl...,<generator object vectorize at 0x7f7e588d8900>,0.9888,0.046,0.815,0.139
2,37,2018-03-13,16:50:00,37,1651,{'$oid': '5ab8d26e3efc2c03c520d0b7'},https://www.nasdaq.com/article/apple-roundup-i...,"Apple Roundup: iPhone X, Irish Tax, New Headph...",{'$date': '2018-03-12T16:50:00Z'},"By Sejuti Banerjea, Zacks.com",...,0,0.385577,0.034884,Analyst reports continue indicate iPhone X dem...,analyst report continu indic iphon x demand la...,<generator object vectorize at 0x7f7e588d8f90>,0.9940,0.054,0.838,0.109

In [26]:
#Create a list of column to keep
keep_columns = ["Open", "Low", "High", "Date", "Close", "Volume", "Subjectivity", "Polarity", "Compound", "Negative", "Neutral", "Positive", "Label"]
df = merge[keep_columns]
df

,Open,Low,High,Date,Close,Volume,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,43.900086,43.094648,44.118878,2018-03-13,43.270161,126774000,0.535762,0.259726,0.9932,0.052,0.788,0.160,0
1,43.900086,43.094648,44.118878,2018-03-13,43.270161,126774000,0.557425,0.166736,0.9888,0.046,0.815,0.139,0
2,43.900086,43.094648,44.118878,2018-03-13,43.270161,126774000,0.385577,0.034884,0.9940,0.054,0.838,0.109,0
3,43.900086,43.094648,44.118878,2018-03-13,43.270161,126774000,0.489353,0.146362,0.9948,0.016,0.844,0.140,0
4,43.900086,43.094648,44.118878,2018-03-13,43.270161,126774000,0.420026,0.163776,-0.0772,0.097,0.810,0.093,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8618,50.633720,50.436950,50.960850,2019-08-26,50.788677,104174400,0.498261,0.176083,0.9979,0.034,0.808,0.159,1
8619,50.633720,50.436950,50.960850,2019-08-26,50.788677,104174400,0.546523,-0.052710,-0.0772,0.114,0.777,0.110,1
8620,50.633720,50.436950,50.960850,2019-08-26,50.788677,104174400,0.456937,0.192916,0.9999,0.051,0.725,0.224,1
8621,50.633720,50.436950,50.960850,2019-08-26,50.788677,104174400,0.496731,0.077628,0.7579,0.070,0.823,0.107,1
8622,50.633720,50.436950,50.960850,2019-08-26,50.788677,104174400,0.540321,0.111719,0.6808,0.045,0.879,0.076,1

In [27]:
df.to_csv("AppleFørTrening.csv")

In [27]:
AppleTest = pd.read_csv(r"/Users/joakimlarsen/Documents/MasterOppgave/Apple/TestAppleUnik.csv")

In [28]:
AppleTest.shape

(243, 14)

In [29]:
AppleTest.head(3)

,X,Open,Low,High,Date,Close,Volume,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,6531,54.071930,53.866055,55.285368,2018-08-30,54.503052,195175200,0.442600,0.154945,0.9403,0.034,0.873,0.094,1
1,6596,54.861504,54.737982,55.433104,2018-08-31,55.132774,173360400,0.277222,0.079217,0.5106,0.056,0.877,0.066,1
2,8545,55.321696,54.890575,55.508190,2018-09-04,55.309586,109560400,0.500270,0.190458,0.9844,0.043,0.849,0.108,0

In [30]:
AppleTrain = pd.read_csv(r"/Users/joakimlarsen/Documents/MasterOppgave/Apple/TrainAppleUnik.csv")

In [31]:
AppleTrain.shape

(1553, 14)

In [32]:
AppleTrain.head(3)

,X,Open,Low,High,Date,Close,Volume,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,8502,5.895322,5.833379,5.897468,2009-10-14,5.865884,375510800,0.393429,0.126336,0.9718,0.062,0.831,0.107,0
1,6504,6.201664,6.035767,6.217917,2009-12-01,6.040061,465763200,0.483192,0.087219,0.9985,0.056,0.767,0.176,0
2,6660,5.928134,5.785848,5.941933,2009-12-07,5.794127,714758800,0.499747,0.126303,0.9979,0.056,0.831,0.112,0

In [33]:
#Create a list of column to keep
keep_columns1 = ["Open", "Low", "High", "Volume","Close", "Subjectivity", "Polarity", "Compound", "Negative", "Neutral", "Positive", "Label"]
df1 = AppleTest[keep_columns1]
df1

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,54.071930,53.866055,55.285368,195175200,54.503052,0.442600,0.154945,0.9403,0.034,0.873,0.094,1
1,54.861504,54.737982,55.433104,173360400,55.132774,0.277222,0.079217,0.5106,0.056,0.877,0.066,1
2,55.321696,54.890575,55.508190,109560400,55.309586,0.500270,0.190458,0.9844,0.043,0.849,0.108,0
3,55.462178,54.520006,55.626874,133332000,54.948704,0.433944,0.039827,0.9940,0.014,0.848,0.138,0
4,54.793689,53.599628,55.064960,137160000,54.035595,0.410280,0.135265,0.9840,0.035,0.856,0.109,0
...,...,...,...,...,...,...,...,...,...,...,...,...
238,52.436624,51.836476,52.744076,89014800,52.257072,0.450048,0.184692,0.9945,0.055,0.794,0.151,0
239,51.511804,49.438347,52.156227,187272000,49.841724,0.359338,0.062356,0.2350,0.056,0.881,0.063,0
240,50.633720,50.436950,50.960850,104174400,50.788677,0.498261,0.176083,0.9979,0.034,0.808,0.159,1
241,51.125642,50.060627,51.295356,103493200,50.215584,0.433536,0.170572,0.9349,0.046,0.850,0.104,0
242,50.200828,50.008978,50.599285,63755200,50.552551,0.468398,0.058930,0.9866,0.062,0.815,0.123,1

In [34]:
#Create the feature data set
X = df1
X = np.array(X.drop(["Label"], 1))

#Create the target data set
y = np.array(df1["Label"])

/var/folders/m7/01kjn8yx6d3_tjkcr1dkd9g80000gn/T/ipykernel_12494/3997290794.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = np.array(X.drop(["Label"], 1))

In [35]:
X

array([[5.40719298e+01, 5.38660554e+01, 5.52853680e+01, ...,
        3.40000000e-02, 8.73000000e-01, 9.40000000e-02],
       [5.48615040e+01, 5.47379815e+01, 5.54331043e+01, ...,
        5.60000000e-02, 8.77000000e-01, 6.60000000e-02],
       [5.53216965e+01, 5.48905746e+01, 5.55081905e+01, ...,
        4.30000000e-02, 8.49000000e-01, 1.08000000e-01],
       ...,
       [5.06337200e+01, 5.04369497e+01, 5.09608498e+01, ...,
        3.40000000e-02, 8.08000000e-01, 1.59000000e-01],
       [5.11256421e+01, 5.00606266e+01, 5.12953564e+01, ...,
        4.60000000e-02, 8.50000000e-01, 1.04000000e-01],
       [5.02008275e+01, 5.00089775e+01, 5.05992846e+01, ...,
        6.20000000e-02, 8.15000000e-01, 1.23000000e-01]])

In [36]:
y

array([1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1])

In [37]:
x_test = X

In [38]:
len(x_test)

243

In [39]:
y_test = y

In [40]:
len(y_test)

243

In [41]:
#Create a list of column to keep
keep_columns2 = ["Open", "Low", "High", "Volume", "Close", "Subjectivity", "Polarity", "Compound", "Negative", "Neutral", "Positive", "Label"]
df2 = AppleTrain[keep_columns2]
df2

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,5.895322,5.833379,5.897468,375510800,5.865884,0.393429,0.126336,0.9718,0.062,0.831,0.107,0
1,6.201664,6.035767,6.217917,465763200,6.040061,0.483192,0.087219,0.9985,0.056,0.767,0.176,0
2,5.928134,5.785848,5.941933,714758800,5.794127,0.499747,0.126303,0.9979,0.056,0.831,0.112,0
3,5.865577,5.835831,6.076551,684782000,6.065512,0.539286,0.167857,0.9097,0.040,0.835,0.125,1
4,6.241834,6.235701,6.419691,500889200,6.410184,0.432539,0.117698,0.8934,0.025,0.913,0.062,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1548,51.988967,51.976860,52.570258,75532800,52.192421,0.508349,0.140143,0.9803,0.063,0.817,0.120,1
1549,52.461276,52.100391,52.533934,73905600,52.354706,0.499142,0.111774,0.9599,0.029,0.892,0.079,0
1550,52.594489,52.395884,52.979595,82100400,52.785831,0.446054,0.125820,0.9867,0.051,0.841,0.108,1
1551,53.044976,53.023179,53.415547,91107200,53.212097,0.357170,0.080684,0.9698,0.022,0.906,0.072,1
1552,53.321091,53.141863,54.130053,109019200,54.006527,0.475354,0.126197,0.9884,0.019,0.858,0.123,1

In [42]:
#Create the feature data set
X1 = df2
X1 = np.array(X1.drop(["Label"], 1))

#Create the target data set
y1 = np.array(df2["Label"])

/var/folders/m7/01kjn8yx6d3_tjkcr1dkd9g80000gn/T/ipykernel_12494/791745654.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X1 = np.array(X1.drop(["Label"], 1))

In [43]:
X1

array([[5.89532155e+00, 5.83337914e+00, 5.89746773e+00, ...,
        6.20000000e-02, 8.31000000e-01, 1.07000000e-01],
       [6.20166401e+00, 6.03576734e+00, 6.21791677e+00, ...,
        5.60000000e-02, 7.67000000e-01, 1.76000000e-01],
       [5.92813357e+00, 5.78584817e+00, 5.94193267e+00, ...,
        5.60000000e-02, 8.31000000e-01, 1.12000000e-01],
       ...,
       [5.25944886e+01, 5.23958837e+01, 5.29795950e+01, ...,
        5.10000000e-02, 8.41000000e-01, 1.08000000e-01],
       [5.30449762e+01, 5.30231788e+01, 5.34155472e+01, ...,
        2.20000000e-02, 9.06000000e-01, 7.20000000e-02],
       [5.33210907e+01, 5.31418625e+01, 5.41300531e+01, ...,
        1.90000000e-02, 8.58000000e-01, 1.23000000e-01]])

In [44]:
y1

array([0, 0, 0, ..., 1, 1, 1])

In [45]:
x_train = X1

In [46]:
len(X1)

1553

In [47]:
y_train = y1

In [48]:
len(y1)

1553

In [49]:
#Create and train the model
model = LinearDiscriminantAnalysis().fit(x_train, y_train)

In [50]:
#Show the models predictions
predictions = model.predict(x_test)
predictions

array([1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1])

In [51]:
y_test

array([1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1])

In [52]:
#Show the model metrics
print( classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       120
           1       1.00      1.00      1.00       123

    accuracy                           1.00       243
   macro avg       1.00      1.00      1.00       243
weighted avg       1.00      1.00      1.00       243

In [53]:
#Create and train the model (Naive Bayes)
from sklearn.naive_bayes import GaussianNB
modelNB = GaussianNB()

In [54]:
#Train the model
modelNB.fit(x_train, y_train)

GaussianNB()

In [55]:
#Accuracy for modellen
modelNB.score(x_test, y_test)

0.5061728395061729

In [56]:
x_test[:10]

array([[ 5.40719298e+01,  5.38660554e+01,  5.52853680e+01,
         1.95175200e+08,  5.45030518e+01,  4.42600000e-01,
         1.54945455e-01,  9.40300000e-01,  3.40000000e-02,
         8.73000000e-01,  9.40000000e-02],
       [ 5.48615040e+01,  5.47379815e+01,  5.54331043e+01,
         1.73360400e+08,  5.51327744e+01,  2.77222222e-01,
         7.92171717e-02,  5.10600000e-01,  5.60000000e-02,
         8.77000000e-01,  6.60000000e-02],
       [ 5.53216965e+01,  5.48905746e+01,  5.55081905e+01,
         1.09560400e+08,  5.53095856e+01,  5.00270147e-01,
         1.90457875e-01,  9.84400000e-01,  4.30000000e-02,
         8.49000000e-01,  1.08000000e-01],
       [ 5.54621777e+01,  5.45200063e+01,  5.56268743e+01,
         1.33332000e+08,  5.49487038e+01,  4.33944089e-01,
         3.98266108e-02,  9.94000000e-01,  1.40000000e-02,
         8.48000000e-01,  1.38000000e-01],
       [ 5.47936893e+01,  5.35996280e+01,  5.50649597e+01,
         1.37160000e+08,  5.40355949e+01,  4.10279767e-01,
         1.35264550e-01,  9.84000000e-01,  3.50000000e-02,
         8.56000000e-01,  1.09000000e-01],
       [ 5.37328411e+01,  5.34567293e+01,  5.45853946e+01,
         1.50479200e+08,  5.35996284e+01,  4.86063512e-01,
         6.86006894e-02,  8.14600000e-01,  6.80000000e-02,
         8.40000000e-01,  9.10000000e-02],
       [ 5.35148514e+01,  5.24297810e+01,  5.37328367e+01,
         1.58066000e+08,  5.28802795e+01,  5.17699873e-01,
         2.73559017e-01,  9.99100000e-01,  3.00000000e-02,
         6.92000000e-01,  2.78000000e-01],
       [ 5.28027760e+01,  5.24515817e+01,  5.43262378e+01,
         1.42996000e+08,  5.42172470e+01,  4.90909091e-01,
         3.27272727e-01, -2.02300000e-01,  9.10000000e-02,
         8.44000000e-01,  6.50000000e-02],
       [ 5.44812487e+01,  5.32460095e+01,  5.44957803e+01,
         1.97114800e+08,  5.35439224e+01,  6.88636364e-01,
         2.96590909e-01,  8.40200000e-01,  0.00000000e+00,
         8.75000000e-01,  1.25000000e-01],
       [ 5.41373163e+01,  5.39072237e+01,  5.53071594e+01,
         1.66825600e+08,  5.48372841e+01,  3.76335940e-01,
         1.28819881e-01,  9.86800000e-01,  3.20000000e-02,
         8.81000000e-01,  8.70000000e-02]])

In [57]:
#Faktisk oppgang eller nedgang
y_test[:100]

array([1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1])

In [58]:
#Sjekker om vi modellen predikerer rett
modelNB.predict(x_test[:100])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [59]:
#Sjekker sannsynligheten for oppgang og nedgang
Bayes = modelNB.predict_proba(x_test)

In [60]:
Bayes

array([[0.45173568, 0.54826432],
       [0.45081878, 0.54918122],
       [0.4524984 , 0.5475016 ],
       [0.4511127 , 0.5488873 ],
       [0.45097398, 0.54902602],
       [0.45067362, 0.54932638],
       [0.45062915, 0.54937085],
       [0.45080751, 0.54919249],
       [0.45185402, 0.54814598],
       [0.45069206, 0.54930794],
       [0.45134509, 0.54865491],
       [0.45069618, 0.54930382],
       [0.45142925, 0.54857075],
       [0.45258168, 0.54741832],
       [0.45274781, 0.54725219],
       [0.49201775, 0.50798225],
       [0.45240583, 0.54759417],
       [0.45347813, 0.54652187],
       [0.4536998 , 0.5463002 ],
       [0.45173512, 0.54826488],
       [0.45413239, 0.54586761],
       [0.45385385, 0.54614615],
       [0.45338953, 0.54661047],
       [0.45212783, 0.54787217],
       [0.45133693, 0.54866307],
       [0.45107459, 0.54892541],
       [0.45186155, 0.54813845],
       [0.45265591, 0.54734409],
       [0.45070923, 0.54929077],
       [0.45300559, 0.54699441],
       [0.45063839, 0.54936161],
       [0.45159491, 0.54840509],
       [0.45198496, 0.54801504],
       [0.45415106, 0.54584894],
       [0.45123812, 0.54876188],
       [0.45115353, 0.54884647],
       [0.4520901 , 0.5479099 ],
       [0.45063573, 0.54936427],
       [0.45065559, 0.54934441],
       [0.45181387, 0.54818613],
       [0.45140069, 0.54859931],
       [0.45116038, 0.54883962],
       [0.45073118, 0.54926882],
       [0.45064537, 0.54935463],
       [0.45516455, 0.54483545],
       [0.48513334, 0.51486666],
       [0.45973344, 0.54026656],
       [0.45136761, 0.54863239],
       [0.45109851, 0.54890149],
       [0.45317796, 0.54682204],
       [0.45096406, 0.54903594],
       [0.45132801, 0.54867199],
       [0.45643767, 0.54356233],
       [0.45125374, 0.54874626],
       [0.4507128 , 0.5492872 ],
       [0.45070522, 0.54929478],
       [0.46090497, 0.53909503],
       [0.45152244, 0.54847756],
       [0.45384462, 0.54615538],
       [0.45101736, 0.54898264],
       [0.45067546, 0.54932454],
       [0.45118163, 0.54881837],
       [0.45069588, 0.54930412],
       [0.45062931, 0.54937069],
       [0.45065139, 0.54934861],
       [0.45067337, 0.54932663],
       [0.45079593, 0.54920407],
       [0.4507291 , 0.5492709 ],
       [0.4571254 , 0.5428746 ],
       [0.45140549, 0.54859451],
       [0.45081946, 0.54918054],
       [0.45136468, 0.54863532],
       [0.45064825, 0.54935175],
       [0.45092378, 0.54907622],
       [0.45103629, 0.54896371],
       [0.45179702, 0.54820298],
       [0.45880779, 0.54119221],
       [0.49128635, 0.50871365],
       [0.45069796, 0.54930204],
       [0.45529062, 0.54470938],
       [0.45300326, 0.54699674],
       [0.45072985, 0.54927015],
       [0.45088601, 0.54911399],
       [0.45070581, 0.54929419],
       [0.48511153, 0.51488847],
       [0.45530267, 0.54469733],
       [0.45361732, 0.54638268],
       [0.45065963, 0.54934037],
       [0.45103173, 0.54896827],
       [0.45080474, 0.54919526],
       [0.45261383, 0.54738617],
       [0.45126369, 0.54873631],
       [0.45211263, 0.54788737],
       [0.45164493, 0.54835507],
       [0.45182263, 0.54817737],
       [0.45104948, 0.54895052],
       [0.45168536, 0.54831464],
       [0.45404796, 0.54595204],
       [0.45314975, 0.54685025],
       [0.45108164, 0.54891836],
       [0.45288743, 0.54711257],
       [0.45068573, 0.54931427],
       [0.45660747, 0.54339253],
       [0.45064938, 0.54935062],
       [0.45122308, 0.54877692],
       [0.4514449 , 0.5485551 ],
       [0.45077561, 0.54922439],
       [0.45224518, 0.54775482],
       [0.45139541, 0.54860459],
       [0.45376562, 0.54623438],
       [0.45500047, 0.54499953],
       [0.45441144, 0.54558856],
       [0.45432103, 0.54567897],
       [0.45461106, 0.54538894],
       [0.45345073, 0.54654927],
       [0.45600888, 0.54399112],
       [0.45291385, 0.54708615],
       [0.45695167, 0.54304833],
       [0.45604021, 0.54395979],
       [0.45459404, 0.54540596],
       [0.45705427, 0.54294573],
       [0.45236345, 0.54763655],
       [0.45225214, 0.54774786],
       [0.45299252, 0.54700748],
       [0.45248436, 0.54751564],
       [0.45561494, 0.54438506],
       [0.45508746, 0.54491254],
       [0.45338665, 0.54661335],
       [0.45369415, 0.54630585],
       [0.45134302, 0.54865698],
       [0.45125847, 0.54874153],
       [0.45154212, 0.54845788],
       [0.45386266, 0.54613734],
       [0.45063176, 0.54936824],
       [0.45287791, 0.54712209],
       [0.45141432, 0.54858568],
       [0.45154152, 0.54845848],
       [0.45233283, 0.54766717],
       [0.45073822, 0.54926178],
       [0.45198819, 0.54801181],
       [0.4518158 , 0.5481842 ],
       [0.45510176, 0.54489824],
       [0.45386894, 0.54613106],
       [0.45235548, 0.54764452],
       [0.45420216, 0.54579784],
       [0.453989  , 0.546011  ],
       [0.45593476, 0.54406524],
       [0.4562456 , 0.5437544 ],
       [0.452994  , 0.547006  ],
       [0.45080576, 0.54919424],
       [0.4546746 , 0.5453254 ],
       [0.45504428, 0.54495572],
       [0.45238568, 0.54761432],
       [0.4567893 , 0.5432107 ],
       [0.45305888, 0.54694112],
       [0.45205899, 0.54794101],
       [0.45361675, 0.54638325],
       [0.45576653, 0.54423347],
       [0.45678702, 0.54321298],
       [0.45623666, 0.54376334],
       [0.45618005, 0.54381995],
       [0.45444607, 0.54555393],
       [0.45126376, 0.54873624],
       [0.45884281, 0.54115719],
       [0.45134572, 0.54865428],
       [0.45504824, 0.54495176],
       [0.45126278, 0.54873722],
       [0.45063586, 0.54936414],
       [0.45283744, 0.54716256],
       [0.45474469, 0.54525531],
       [0.45074088, 0.54925912],
       [0.45276906, 0.54723094],
       [0.4511614 , 0.5488386 ],
       [0.45118682, 0.54881318],
       [0.45063902, 0.54936098],
       [0.45220934, 0.54779066],
       [0.45184052, 0.54815948],
       [0.45074091, 0.54925909],
       [0.4538079 , 0.5461921 ],
       [0.45233   , 0.54767   ],
       [0.45217646, 0.54782354],
       [0.45489463, 0.54510537],
       [0.45260725, 0.54739275],
       [0.45063986, 0.54936014],
       [0.45155612, 0.54844388],
       [0.45183436, 0.54816564],
       [0.45430531, 0.54569469],
       [0.45161884, 0.54838116],
       [0.45264255, 0.54735745],
       [0.45639324, 0.54360676],
       [0.45468404, 0.54531596],
       [0.4561203 , 0.5438797 ],
       [0.45276695, 0.54723305],
       [0.4549387 , 0.5450613 ],
       [0.45475753, 0.54524247],
       [0.45151217, 0.54848783],
       [0.45641106, 0.54358894],
       [0.45496406, 0.54503594],
       [0.45292981, 0.54707019],
       [0.4550448 , 0.5449552 ],
       [0.45152527, 0.54847473],
       [0.45254111, 0.54745889],
       [0.45713187, 0.54286813],
       [0.46074959, 0.53925041],
       [0.45694256, 0.54305744],
       [0.45318666, 0.54681334],
       [0.45519911, 0.54480089],
       [0.45658838, 0.54341162],
       [0.45538785, 0.54461215],
       [0.4567564 , 0.5432436 ],
       [0.45712482, 0.54287518],
       [0.45717142, 0.54282858],
       [0.45886742, 0.54113258],
       [0.45623806, 0.54376194],
       [0.45503072, 0.54496928],
       [0.45441378, 0.54558622],
       [0.45633788, 0.54366212],
       [0.45830266, 0.54169734],
       [0.45899658, 0.54100342],
       [0.4567431 , 0.5432569 ],
       [0.45468453, 0.54531547],
       [0.45102266, 0.54897734],
       [0.46199009, 0.53800991],
       [0.45332735, 0.54667265],
       [0.45065336, 0.54934664],
       [0.4527575 , 0.5472425 ],
       [0.45080043, 0.54919957],
       [0.45110788, 0.54889212],
       [0.45261802, 0.54738198],
       [0.45345331, 0.54654669],
       [0.45432453, 0.54567547],
       [0.45139281, 0.54860719],
       [0.45073949, 0.54926051],
       [0.45254912, 0.54745088],
       [0.45242794, 0.54757206],
       [0.45353216, 0.54646784],
       [0.45265811, 0.54734189],
       [0.45474764, 0.54525236],
       [0.45442441, 0.54557559],
       [0.45131574, 0.54868426],
       [0.45293799, 0.54706201],
       [0.45299689, 0.54700311],
       [0.45771994, 0.54228006]])

In [61]:
column_values = ["Nedgang", "Oppgang"]

df3 = pd.DataFrame(data = Bayes,
                  columns = column_values)

In [62]:
df3

      Nedgang   Oppgang
0    0.451736  0.548264
1    0.450819  0.549181
2    0.452498  0.547502
3    0.451113  0.548887
4    0.450974  0.549026
..        ...       ...
238  0.454424  0.545576
239  0.451316  0.548684
240  0.452938  0.547062
241  0.452997  0.547003
242  0.457720  0.542280

[243 rows x 2 columns]

In [63]:
extracted_col = df3["Nedgang"]
extracted_col

0      0.451736
1      0.450819
2      0.452498
3      0.451113
4      0.450974
         ...
238    0.454424
239    0.451316
240    0.452938
241    0.452997
242    0.457720
Name: Nedgang, Length: 243, dtype: float64

In [64]:
df1 = df1.join(extracted_col)
df1

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang
0,54.071930,53.866055,55.285368,195175200,54.503052,0.442600,0.154945,0.9403,0.034,0.873,0.094,1,0.451736
1,54.861504,54.737982,55.433104,173360400,55.132774,0.277222,0.079217,0.5106,0.056,0.877,0.066,1,0.450819
2,55.321696,54.890575,55.508190,109560400,55.309586,0.500270,0.190458,0.9844,0.043,0.849,0.108,0,0.452498
3,55.462178,54.520006,55.626874,133332000,54.948704,0.433944,0.039827,0.9940,0.014,0.848,0.138,0,0.451113
4,54.793689,53.599628,55.064960,137160000,54.035595,0.410280,0.135265,0.9840,0.035,0.856,0.109,0,0.450974
...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,52.436624,51.836476,52.744076,89014800,52.257072,0.450048,0.184692,0.9945,0.055,0.794,0.151,0,0.454424
239,51.511804,49.438347,52.156227,187272000,49.841724,0.359338,0.062356,0.2350,0.056,0.881,0.063,0,0.451316
240,50.633720,50.436950,50.960850,104174400,50.788677,0.498261,0.176083,0.9979,0.034,0.808,0.159,1,0.452938
241,51.125642,50.060627,51.295356,103493200,50.215584,0.433536,0.170572,0.9349,0.046,0.850,0.104,0,0.452997
242,50.200828,50.008978,50.599285,63755200,50.552551,0.468398,0.058930,0.9866,0.062,0.815,0.123,1,0.457720

In [65]:
extracted_col1 = df3["Oppgang"]
extracted_col1

0      0.548264
1      0.549181
2      0.547502
3      0.548887
4      0.549026
         ...
238    0.545576
239    0.548684
240    0.547062
241    0.547003
242    0.542280
Name: Oppgang, Length: 243, dtype: float64

In [66]:
df1 = df1.join(extracted_col1)
df1

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang,Oppgang
0,54.071930,53.866055,55.285368,195175200,54.503052,0.442600,0.154945,0.9403,0.034,0.873,0.094,1,0.451736,0.548264
1,54.861504,54.737982,55.433104,173360400,55.132774,0.277222,0.079217,0.5106,0.056,0.877,0.066,1,0.450819,0.549181
2,55.321696,54.890575,55.508190,109560400,55.309586,0.500270,0.190458,0.9844,0.043,0.849,0.108,0,0.452498,0.547502
3,55.462178,54.520006,55.626874,133332000,54.948704,0.433944,0.039827,0.9940,0.014,0.848,0.138,0,0.451113,0.548887
4,54.793689,53.599628,55.064960,137160000,54.035595,0.410280,0.135265,0.9840,0.035,0.856,0.109,0,0.450974,0.549026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,52.436624,51.836476,52.744076,89014800,52.257072,0.450048,0.184692,0.9945,0.055,0.794,0.151,0,0.454424,0.545576
239,51.511804,49.438347,52.156227,187272000,49.841724,0.359338,0.062356,0.2350,0.056,0.881,0.063,0,0.451316,0.548684
240,50.633720,50.436950,50.960850,104174400,50.788677,0.498261,0.176083,0.9979,0.034,0.808,0.159,1,0.452938,0.547062
241,51.125642,50.060627,51.295356,103493200,50.215584,0.433536,0.170572,0.9349,0.046,0.850,0.104,0,0.452997,0.547003
242,50.200828,50.008978,50.599285,63755200,50.552551,0.468398,0.058930,0.9866,0.062,0.815,0.123,1,0.457720,0.542280

In [67]:
df1.head(60)

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang,Oppgang
0,54.071930,53.866055,55.285368,195175200,54.503052,0.442600,0.154945,0.9403,0.034,0.873,0.094,1,0.451736,0.548264
1,54.861504,54.737982,55.433104,173360400,55.132774,0.277222,0.079217,0.5106,0.056,0.877,0.066,1,0.450819,0.549181
2,55.321696,54.890575,55.508190,109560400,55.309586,0.500270,0.190458,0.9844,0.043,0.849,0.108,0,0.452498,0.547502
3,55.462178,54.520006,55.626874,133332000,54.948704,0.433944,0.039827,0.9940,0.014,0.848,0.138,0,0.451113,0.548887
4,54.793689,53.599628,55.064960,137160000,54.035595,0.410280,0.135265,0.9840,0.035,0.856,0.109,0,0.450974,0.549026
5,53.732841,53.456729,54.585395,150479200,53.599628,0.486064,0.068601,0.8146,0.068,0.840,0.091,0,0.450674,0.549326
6,53.514851,52.429781,53.732837,158066000,52.880280,0.517700,0.273559,0.9991,0.030,0.692,0.278,0,0.450629,0.549371
7,52.802776,52.451582,54.326238,142996000,54.217247,0.490909,0.327273,-0.2023,0.091,0.844,0.065,1,0.450808,0.549192
8,54.481249,53.246009,54.495780,197114800,53.543922,0.688636,0.296591,0.8402,0.000,0.875,0.125,0,0.451854,0.548146
9,54.137316,53.907224,55.307159,166825600,54.837284,0.376336,0.128820,0.9868,0.032,0.881,0.087,1,0.450692,0.549308
10,54.677427,53.895110,54.941427,127997200,54.214817,0.477273,0.099432,0.8316,0.000,0.899,0.101,0,0.451345,0.548655
11,53.805504,52.623553,53.999267,148780400,52.771297,0.400433,0.202340,0.9761,0.044,0.847,0.108,0,0.450696,0.549304
12,52.749488,52.587212,53.732837,126286800,52.858482,0.317240,0.002565,0.6249,0.016,0.907,0.077,1,0.451429,0.548571
13,52.921457,52.146406,53.192723,108495200,52.889969,0.411546,0.143717,0.9313,0.036,0.888,0.077,0,0.452582,0.547418
14,53.342891,53.078886,53.836984,106435200,53.292027,0.540366,0.117102,0.9062,0.029,0.910,0.060,0,0.452748,0.547252
15,53.473684,52.628392,53.614162,384986800,52.718010,0.330929,0.119610,-0.7906,0.065,0.895,0.039,0,0.492018,0.507982
16,52.514557,52.468537,53.589937,110773600,53.476101,0.498191,0.174838,0.9712,0.071,0.816,0.114,1,0.452406,0.547594
17,53.224209,53.212098,53.967775,98217600,53.815186,0.518216,0.192693,0.9868,0.000,0.902,0.098,1,0.453478,0.546522
18,53.526972,53.226638,54.193032,95938800,53.386494,0.483047,0.166133,0.9950,0.049,0.795,0.156,0,0.453700,0.546300
19,54.209974,54.142154,54.844546,120724800,54.483662,0.516744,0.188959,0.9956,0.044,0.810,0.146,1,0.451735,0.548265
20,54.444914,54.258420,54.699229,91717600,54.675011,0.550909,0.237273,0.9022,0.000,0.837,0.163,1,0.454132,0.545868
21,55.210280,54.822757,55.566320,94403200,55.043159,0.220391,0.056534,0.9695,0.052,0.812,0.136,0,0.453854,0.546146
22,55.040741,54.890576,55.706800,99152800,55.532413,0.481870,0.014913,0.9853,0.024,0.860,0.117,1,0.453390,0.546610
23,55.718905,55.653509,56.547240,114619200,56.208157,0.448851,0.193261,0.9983,0.019,0.826,0.155,1,0.452128,0.547872
24,55.895713,54.914788,56.275974,128168000,55.219967,0.570000,-0.026667,0.2960,0.000,0.937,0.062,0,0.451337,0.548663
25,55.212704,53.425242,55.321695,134322000,54.323814,0.500629,0.079748,0.0000,0.087,0.826,0.087,0,0.451075,0.548925
26,53.820039,53.333208,54.447345,118655600,54.197876,0.496491,0.056140,-0.6036,0.066,0.879,0.055,1,0.451862,0.548138
27,54.166388,53.829725,55.045587,107564000,54.948704,0.515522,0.002180,0.9808,0.026,0.860,0.113,1,0.452656,0.547344
28,54.607202,52.328066,54.822763,167962400,52.403149,0.475369,0.100699,0.9729,0.021,0.879,0.100,0,0.450709,0.549291
29,51.957485,51.424638,53.163657,212497600,51.940529,0.426502,0.057851,-0.9812,0.101,0.846,0.054,0,0.453006,0.546994
30,53.386494,52.519405,53.982316,161351600,53.795818,0.570000,-0.026667,0.2960,0.000,0.937,0.062,1,0.450638,0.549362
31,53.565718,52.623546,53.727994,123164000,52.645344,0.227656,0.090476,0.8720,0.000,0.805,0.195,0,0.451595,0.548405
32,53.025605,52.500023,54.008954,116736000,53.805500,0.468501,0.171646,0.9910,0.009,0.817,0.175,1,0.451985,0.548015
33,53.841829,53.124905,53.924177,91541600,53.572983,0.425734,0.078276,0.8201,0.057,0.849,0.094,0,0.454151,0.545849
34,52.766443,51.589334,53.221786,130325200,52.320789,0.431233,0.081885,0.5267,0.011,0.955,0.033,0,0.451238,0.548762
35,52.814883,52.662294,53.589934,132314800,53.117638,0.415193,-0.000204,-0.8591,0.081,0.867,0.052,1,0.451154,0.548846
36,53.233905,53.028034,54.098573,115168400,53.442200,0.525900,0.198940,0.9962,0.037,0.795,0.168,1,0.452090,0.547910
37,52.274770,52.001079,54.071919,155071200,53.945972,0.596656,0.216036,0.9950,0.039,0.785,0.177,1,0.450636,0.549364
38,53.914493,51.962330,54.309282,163702000,52.095543,0.511821,0.217274,0.9880,0.051,0.822,0.127,0,0.450656,0.549344
39,52.730116,52.497599,53.619002,119423200,53.236320,0.452071,0.188324,0.9806,0.071,0.806,0.123,1,0.451814,0.548186
40,52.291723,51.509407,53.330778,189033600,52.388607,0.473839,0.148462,0.9779,0.037,0.886,0.077,1,0.451401,0.548599
41,53.088579,49.915712,53.209681,183742000,51.405266,0.409604,0.072591,-0.9790,0.124,0.811,0.065,0,0.451160,0.548840
42,51.141255,50.685915,52.117335,146640000,51.661995,0.523846,0.197741,0.9976,0.040,0.752,0.208,1,0.450731,0.549269
43,52.529097,52.466122,53.393762,153435600,53.008659,0.483601,0.207833,0.9884,0.039,0.830,0.132,1,0.450645,0.549355
44,53.054672,52.512135,53.856365,233292800,53.822456,0.467354,0.213607,0.9927,0.064,0.781,0.155,1,0.455165,0.544835
45,50.753743,49.755862,51.746775,365314800,50.252380,0.502851,0.024342,0.9863,0.000,0.883,0.117,0,0.485133,0.514867
46,49.482167,47.997459,49.503965,264654800,48.825794,0.394655,0.105213,0.9995,0.038,0.820,0.143,0,0.459733,0.540267
47,48.905724,48.850018,49.583894,127531600,49.353802,0.477173,0.089910,0.9976,0.045,0.851,0.104,1,0.451368,0.548632
48,49.886651,49.440998,50.877263,133697600,50.850620,0.360042,0.004311,-0.2263,0.048,0.913,0.039,1,0.451099,0.548901
49,51.035335,50.250289,51.069362,101450400,50.673195,0.377070,0.142968,-0.8881,0.097,0.822,0.080,0,0.453178,0.546822
50,49.958633,49.156572,50.070433,137463200,49.696140,0.600000,0.425000,0.5267,0.000,0.903,0.097,0,0.450964,0.549036
51,46.575395,46.531644,47.924312,187531600,46.721222,0.396072,0.080293,-0.9848,0.131,0.820,0.050,1,0.451328,0.548672
52,47.127117,45.190019,47.268085,243204000,45.401474,0.443787,0.134448,0.9923,0.059,0.815,0.126,0,0.456438,0.543562
53,45.787923,45.425779,46.658037,185915200,46.521931,0.463636,-0.003409,0.9413,0.000,0.824,0.176,1,0.451254,0.548746
54,46.300749,46.047980,47.387176,147713200,47.037186,0.422488,0.191062,0.9705,0.057,0.839,0.103,1,0.450713,0.549287
55,46.179225,44.961553,46.349358,167701200,45.173004,0.397876,-0.001813,-0.9501,0.088,0.860,0.053,0,0.450705,0.549295
56,43.352566,42.657447,44.106018,271300800,43.014729,0.347485,-0.001767,-0.7430,0.059,0.898,0.043,0,0.460905,0.539095
57,43.683118,42.910225,43.814366,124496800,42.966125,0.410926,-0.081204,-0.9764,0.125,0.835,0.040,0,0.451522,0.548478
58,42.518921,41.828664,42.922382,94496000,41.874840,0.412446,0.077803,0.9981,0.050,0.754,0.196,0,0.453845,0.546155
59,42.348783,41.381447,42.521346,179994000,42.441139,0.298048,0.008821,0.9001,0.079,0.800,0.120,1,0.451017,0.548983

In [140]:
df1.to_csv("AppleOppgangNedgangUnik")

In [68]:
df1.sort_values("Oppgang", ascending = True)

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang,Oppgang
15,53.473684,52.628392,53.614162,384986800,52.718010,0.330929,0.119610,-0.7906,0.065,0.895,0.039,0,0.492018,0.507982
77,38.124593,36.367353,38.440557,382978400,36.634705,0.477962,0.107384,0.9721,0.049,0.840,0.111,0,0.491286,0.508714
45,50.753743,49.755862,51.746775,365314800,50.252380,0.502851,0.024342,0.9863,0.000,0.883,0.117,0,0.485133,0.514867
84,34.994134,34.512898,35.417039,365248800,34.559078,0.336233,0.206725,0.9779,0.037,0.788,0.175,0,0.485112,0.514888
222,53.029591,51.775034,54.242494,277125600,52.201385,0.450944,0.165832,1.0000,0.021,0.842,0.137,0,0.461990,0.538010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,50.253444,49.020784,50.629343,155054800,49.516289,0.463972,0.099725,0.9750,0.054,0.835,0.111,0,0.450636,0.549364
37,52.274770,52.001079,54.071919,155071200,53.945972,0.596656,0.216036,0.9950,0.039,0.785,0.177,1,0.450636,0.549364
133,45.120210,44.849269,45.725554,156171600,45.430202,0.432911,0.110788,-0.3818,0.061,0.878,0.062,1,0.450632,0.549368
63,43.819221,43.026884,43.828945,158126000,43.403610,0.502816,0.155111,0.8585,0.061,0.858,0.081,0,0.450629,0.549371
6,53.514851,52.429781,53.732837,158066000,52.880280,0.517700,0.273559,0.9991,0.030,0.692,0.278,0,0.450629,0.549371

In [69]:
#Create and train the model (KNN)
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 16)
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=16)

In [70]:
knn_score = knn.score(x_test, y_test)
print("Results for KNN Classifier:")
print(knn_score)

Results for KNN Classifier:
0.5185185185185185

In [71]:
y_pred_knn = knn.predict(x_test)

In [72]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix
cm_knn = confusion_matrix(y_test, y_pred_knn)

In [73]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred_knn).ravel()
print(tn, fp, fn, tp)

60 60 57 66

In [74]:
tpr_knn = round(tp/(tp + fn), 4)
tnr_knn = round(tn/(tn + fp), 4)

In [75]:
print(tpr_knn, tnr_knn)

0.5366 0.5

In [76]:
#Sjekker sannsynligheten for oppgang og nedgang
KNN = knn.predict_proba(x_test)

In [77]:
KNN

array([[0.3125, 0.6875],
       [0.4375, 0.5625],
       [0.5   , 0.5   ],
       [0.375 , 0.625 ],
       [0.25  , 0.75  ],
       [0.5625, 0.4375],
       [0.625 , 0.375 ],
       [0.625 , 0.375 ],
       [0.375 , 0.625 ],
       [0.6875, 0.3125],
       [0.3125, 0.6875],
       [0.75  , 0.25  ],
       [0.5   , 0.5   ],
       [0.4375, 0.5625],
       [0.1875, 0.8125],
       [0.625 , 0.375 ],
       [0.5625, 0.4375],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.5625, 0.4375],
       [0.375 , 0.625 ],
       [0.5625, 0.4375],
       [0.4375, 0.5625],
       [0.1875, 0.8125],
       [0.3125, 0.6875],
       [0.3125, 0.6875],
       [0.4375, 0.5625],
       [0.375 , 0.625 ],
       [0.75  , 0.25  ],
       [0.5625, 0.4375],
       [0.375 , 0.625 ],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.375 , 0.625 ],
       [0.5   , 0.5   ],
       [0.625 , 0.375 ],
       [0.3125, 0.6875],
       [0.5   , 0.5   ],
       [0.625 , 0.375 ],
       [0.5   , 0.5   ],
       [0.5   , 0.5   ],
       [0.3125, 0.6875],
       [0.375 , 0.625 ],
       [0.375 , 0.625 ],
       [0.375 , 0.625 ],
       [0.6875, 0.3125],
       [0.4375, 0.5625],
       [0.5   , 0.5   ],
       [0.375 , 0.625 ],
       [0.375 , 0.625 ],
       [0.25  , 0.75  ],
       [0.5625, 0.4375],
       [0.5   , 0.5   ],
       [0.5625, 0.4375],
       [0.5   , 0.5   ],
       [0.75  , 0.25  ],
       [0.4375, 0.5625],
       [0.375 , 0.625 ],
       [0.5625, 0.4375],
       [0.5625, 0.4375],
       [0.75  , 0.25  ],
       [0.5   , 0.5   ],
       [0.6875, 0.3125],
       [0.625 , 0.375 ],
       [0.625 , 0.375 ],
       [0.75  , 0.25  ],
       [0.375 , 0.625 ],
       [0.75  , 0.25  ],
       [0.3125, 0.6875],
       [0.5   , 0.5   ],
       [0.5   , 0.5   ],
       [0.5   , 0.5   ],
       [0.625 , 0.375 ],
       [0.5   , 0.5   ],
       [0.5   , 0.5   ],
       [0.3125, 0.6875],
       [0.625 , 0.375 ],
       [0.625 , 0.375 ],
       [0.6875, 0.3125],
       [0.3125, 0.6875],
       [0.5625, 0.4375],
       [0.75  , 0.25  ],
       [0.4375, 0.5625],
       [0.625 , 0.375 ],
       [0.6875, 0.3125],
       [0.3125, 0.6875],
       [0.5625, 0.4375],
       [0.625 , 0.375 ],
       [0.5   , 0.5   ],
       [0.625 , 0.375 ],
       [0.4375, 0.5625],
       [0.5   , 0.5   ],
       [0.25  , 0.75  ],
       [0.5   , 0.5   ],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.5   , 0.5   ],
       [0.375 , 0.625 ],
       [0.3125, 0.6875],
       [0.375 , 0.625 ],
       [0.4375, 0.5625],
       [0.6875, 0.3125],
       [0.5   , 0.5   ],
       [0.625 , 0.375 ],
       [0.5625, 0.4375],
       [0.5   , 0.5   ],
       [0.375 , 0.625 ],
       [0.25  , 0.75  ],
       [0.5625, 0.4375],
       [0.5625, 0.4375],
       [0.5   , 0.5   ],
       [0.4375, 0.5625],
       [0.3125, 0.6875],
       [0.625 , 0.375 ],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.5625, 0.4375],
       [0.3125, 0.6875],
       [0.4375, 0.5625],
       [0.625 , 0.375 ],
       [0.3125, 0.6875],
       [0.3125, 0.6875],
       [0.25  , 0.75  ],
       [0.6875, 0.3125],
       [0.4375, 0.5625],
       [0.75  , 0.25  ],
       [0.625 , 0.375 ],
       [0.375 , 0.625 ],
       [0.4375, 0.5625],
       [0.3125, 0.6875],
       [0.5   , 0.5   ],
       [0.4375, 0.5625],
       [0.5625, 0.4375],
       [0.625 , 0.375 ],
       [0.4375, 0.5625],
       [0.5   , 0.5   ],
       [0.4375, 0.5625],
       [0.625 , 0.375 ],
       [0.6875, 0.3125],
       [0.3125, 0.6875],
       [0.5   , 0.5   ],
       [0.5625, 0.4375],
       [0.625 , 0.375 ],
       [0.3125, 0.6875],
       [0.375 , 0.625 ],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.6875, 0.3125],
       [0.625 , 0.375 ],
       [0.4375, 0.5625],
       [0.5625, 0.4375],
       [0.375 , 0.625 ],
       [0.375 , 0.625 ],
       [0.5   , 0.5   ],
       [0.375 , 0.625 ],
       [0.4375, 0.5625],
       [0.625 , 0.375 ],
       [0.375 , 0.625 ],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.5625, 0.4375],
       [0.625 , 0.375 ],
       [0.5625, 0.4375],
       [0.3125, 0.6875],
       [0.5625, 0.4375],
       [0.5   , 0.5   ],
       [0.5   , 0.5   ],
       [0.375 , 0.625 ],
       [0.625 , 0.375 ],
       [0.25  , 0.75  ],
       [0.1875, 0.8125],
       [0.6875, 0.3125],
       [0.6875, 0.3125],
       [0.4375, 0.5625],
       [0.3125, 0.6875],
       [0.4375, 0.5625],
       [0.25  , 0.75  ],
       [0.5   , 0.5   ],
       [0.375 , 0.625 ],
       [0.3125, 0.6875],
       [0.5   , 0.5   ],
       [0.4375, 0.5625],
       [0.375 , 0.625 ],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.3125, 0.6875],
       [0.5   , 0.5   ],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.375 , 0.625 ],
       [0.375 , 0.625 ],
       [0.1875, 0.8125],
       [0.375 , 0.625 ],
       [0.4375, 0.5625],
       [0.3125, 0.6875],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.6875, 0.3125],
       [0.5625, 0.4375],
       [0.375 , 0.625 ],
       [0.5   , 0.5   ],
       [0.4375, 0.5625],
       [0.75  , 0.25  ],
       [0.3125, 0.6875],
       [0.375 , 0.625 ],
       [0.5625, 0.4375],
       [0.375 , 0.625 ],
       [0.625 , 0.375 ],
       [0.375 , 0.625 ],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.75  , 0.25  ],
       [0.4375, 0.5625],
       [0.5   , 0.5   ],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.75  , 0.25  ],
       [0.75  , 0.25  ],
       [0.375 , 0.625 ],
       [0.375 , 0.625 ],
       [0.5   , 0.5   ],
       [0.5625, 0.4375],
       [0.625 , 0.375 ],
       [0.625 , 0.375 ],
       [0.5   , 0.5   ],
       [0.6875, 0.3125],
       [0.375 , 0.625 ],
       [0.5   , 0.5   ],
       [0.4375, 0.5625],
       [0.3125, 0.6875],
       [0.5   , 0.5   ],
       [0.25  , 0.75  ],
       [0.4375, 0.5625],
       [0.5625, 0.4375],
       [0.3125, 0.6875],
       [0.3125, 0.6875],
       [0.4375, 0.5625],
       [0.4375, 0.5625],
       [0.5625, 0.4375],
       [0.6875, 0.3125],
       [0.6875, 0.3125],
       [0.4375, 0.5625]])

In [78]:
column_valuesApple = ["Nedgang-KNN", "Oppgang-KNN"]

df5 = pd.DataFrame(data = KNN,
                  columns = column_valuesApple)

In [79]:
df5

     Nedgang-KNN  Oppgang-KNN
0         0.3125       0.6875
1         0.4375       0.5625
2         0.5000       0.5000
3         0.3750       0.6250
4         0.2500       0.7500
..           ...          ...
238       0.4375       0.5625
239       0.5625       0.4375
240       0.6875       0.3125
241       0.6875       0.3125
242       0.4375       0.5625

[243 rows x 2 columns]

In [80]:
extracted_colApple = df5["Nedgang-KNN"]
extracted_colApple

0      0.3125
1      0.4375
2      0.5000
3      0.3750
4      0.2500
        ...
238    0.4375
239    0.5625
240    0.6875
241    0.6875
242    0.4375
Name: Nedgang-KNN, Length: 243, dtype: float64

In [81]:
df1 = df1.join(extracted_colApple)
df1

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang,Oppgang,Nedgang-KNN
0,54.071930,53.866055,55.285368,195175200,54.503052,0.442600,0.154945,0.9403,0.034,0.873,0.094,1,0.451736,0.548264,0.3125
1,54.861504,54.737982,55.433104,173360400,55.132774,0.277222,0.079217,0.5106,0.056,0.877,0.066,1,0.450819,0.549181,0.4375
2,55.321696,54.890575,55.508190,109560400,55.309586,0.500270,0.190458,0.9844,0.043,0.849,0.108,0,0.452498,0.547502,0.5000
3,55.462178,54.520006,55.626874,133332000,54.948704,0.433944,0.039827,0.9940,0.014,0.848,0.138,0,0.451113,0.548887,0.3750
4,54.793689,53.599628,55.064960,137160000,54.035595,0.410280,0.135265,0.9840,0.035,0.856,0.109,0,0.450974,0.549026,0.2500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,52.436624,51.836476,52.744076,89014800,52.257072,0.450048,0.184692,0.9945,0.055,0.794,0.151,0,0.454424,0.545576,0.4375
239,51.511804,49.438347,52.156227,187272000,49.841724,0.359338,0.062356,0.2350,0.056,0.881,0.063,0,0.451316,0.548684,0.5625
240,50.633720,50.436950,50.960850,104174400,50.788677,0.498261,0.176083,0.9979,0.034,0.808,0.159,1,0.452938,0.547062,0.6875
241,51.125642,50.060627,51.295356,103493200,50.215584,0.433536,0.170572,0.9349,0.046,0.850,0.104,0,0.452997,0.547003,0.6875
242,50.200828,50.008978,50.599285,63755200,50.552551,0.468398,0.058930,0.9866,0.062,0.815,0.123,1,0.457720,0.542280,0.4375

In [82]:
extracted_col1Apple = df5["Oppgang-KNN"]
extracted_col1Apple

0      0.6875
1      0.5625
2      0.5000
3      0.6250
4      0.7500
        ...
238    0.5625
239    0.4375
240    0.3125
241    0.3125
242    0.5625
Name: Oppgang-KNN, Length: 243, dtype: float64

In [83]:
df1 = df1.join(extracted_col1Apple)
df1

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang,Oppgang,Nedgang-KNN,Oppgang-KNN
0,54.071930,53.866055,55.285368,195175200,54.503052,0.442600,0.154945,0.9403,0.034,0.873,0.094,1,0.451736,0.548264,0.3125,0.6875
1,54.861504,54.737982,55.433104,173360400,55.132774,0.277222,0.079217,0.5106,0.056,0.877,0.066,1,0.450819,0.549181,0.4375,0.5625
2,55.321696,54.890575,55.508190,109560400,55.309586,0.500270,0.190458,0.9844,0.043,0.849,0.108,0,0.452498,0.547502,0.5000,0.5000
3,55.462178,54.520006,55.626874,133332000,54.948704,0.433944,0.039827,0.9940,0.014,0.848,0.138,0,0.451113,0.548887,0.3750,0.6250
4,54.793689,53.599628,55.064960,137160000,54.035595,0.410280,0.135265,0.9840,0.035,0.856,0.109,0,0.450974,0.549026,0.2500,0.7500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,52.436624,51.836476,52.744076,89014800,52.257072,0.450048,0.184692,0.9945,0.055,0.794,0.151,0,0.454424,0.545576,0.4375,0.5625
239,51.511804,49.438347,52.156227,187272000,49.841724,0.359338,0.062356,0.2350,0.056,0.881,0.063,0,0.451316,0.548684,0.5625,0.4375
240,50.633720,50.436950,50.960850,104174400,50.788677,0.498261,0.176083,0.9979,0.034,0.808,0.159,1,0.452938,0.547062,0.6875,0.3125
241,51.125642,50.060627,51.295356,103493200,50.215584,0.433536,0.170572,0.9349,0.046,0.850,0.104,0,0.452997,0.547003,0.6875,0.3125
242,50.200828,50.008978,50.599285,63755200,50.552551,0.468398,0.058930,0.9866,0.062,0.815,0.123,1,0.457720,0.542280,0.4375,0.5625

In [84]:
df1.head(60)

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang,Oppgang,Nedgang-KNN,Oppgang-KNN
0,54.071930,53.866055,55.285368,195175200,54.503052,0.442600,0.154945,0.9403,0.034,0.873,0.094,1,0.451736,0.548264,0.3125,0.6875
1,54.861504,54.737982,55.433104,173360400,55.132774,0.277222,0.079217,0.5106,0.056,0.877,0.066,1,0.450819,0.549181,0.4375,0.5625
2,55.321696,54.890575,55.508190,109560400,55.309586,0.500270,0.190458,0.9844,0.043,0.849,0.108,0,0.452498,0.547502,0.5000,0.5000
3,55.462178,54.520006,55.626874,133332000,54.948704,0.433944,0.039827,0.9940,0.014,0.848,0.138,0,0.451113,0.548887,0.3750,0.6250
4,54.793689,53.599628,55.064960,137160000,54.035595,0.410280,0.135265,0.9840,0.035,0.856,0.109,0,0.450974,0.549026,0.2500,0.7500
5,53.732841,53.456729,54.585395,150479200,53.599628,0.486064,0.068601,0.8146,0.068,0.840,0.091,0,0.450674,0.549326,0.5625,0.4375
6,53.514851,52.429781,53.732837,158066000,52.880280,0.517700,0.273559,0.9991,0.030,0.692,0.278,0,0.450629,0.549371,0.6250,0.3750
7,52.802776,52.451582,54.326238,142996000,54.217247,0.490909,0.327273,-0.2023,0.091,0.844,0.065,1,0.450808,0.549192,0.6250,0.3750
8,54.481249,53.246009,54.495780,197114800,53.543922,0.688636,0.296591,0.8402,0.000,0.875,0.125,0,0.451854,0.548146,0.3750,0.6250
9,54.137316,53.907224,55.307159,166825600,54.837284,0.376336,0.128820,0.9868,0.032,0.881,0.087,1,0.450692,0.549308,0.6875,0.3125
10,54.677427,53.895110,54.941427,127997200,54.214817,0.477273,0.099432,0.8316,0.000,0.899,0.101,0,0.451345,0.548655,0.3125,0.6875
11,53.805504,52.623553,53.999267,148780400,52.771297,0.400433,0.202340,0.9761,0.044,0.847,0.108,0,0.450696,0.549304,0.7500,0.2500
12,52.749488,52.587212,53.732837,126286800,52.858482,0.317240,0.002565,0.6249,0.016,0.907,0.077,1,0.451429,0.548571,0.5000,0.5000
13,52.921457,52.146406,53.192723,108495200,52.889969,0.411546,0.143717,0.9313,0.036,0.888,0.077,0,0.452582,0.547418,0.4375,0.5625
14,53.342891,53.078886,53.836984,106435200,53.292027,0.540366,0.117102,0.9062,0.029,0.910,0.060,0,0.452748,0.547252,0.1875,0.8125
15,53.473684,52.628392,53.614162,384986800,52.718010,0.330929,0.119610,-0.7906,0.065,0.895,0.039,0,0.492018,0.507982,0.6250,0.3750
16,52.514557,52.468537,53.589937,110773600,53.476101,0.498191,0.174838,0.9712,0.071,0.816,0.114,1,0.452406,0.547594,0.5625,0.4375
17,53.224209,53.212098,53.967775,98217600,53.815186,0.518216,0.192693,0.9868,0.000,0.902,0.098,1,0.453478,0.546522,0.4375,0.5625
18,53.526972,53.226638,54.193032,95938800,53.386494,0.483047,0.166133,0.9950,0.049,0.795,0.156,0,0.453700,0.546300,0.4375,0.5625
19,54.209974,54.142154,54.844546,120724800,54.483662,0.516744,0.188959,0.9956,0.044,0.810,0.146,1,0.451735,0.548265,0.5625,0.4375
20,54.444914,54.258420,54.699229,91717600,54.675011,0.550909,0.237273,0.9022,0.000,0.837,0.163,1,0.454132,0.545868,0.3750,0.6250
21,55.210280,54.822757,55.566320,94403200,55.043159,0.220391,0.056534,0.9695,0.052,0.812,0.136,0,0.453854,0.546146,0.5625,0.4375
22,55.040741,54.890576,55.706800,99152800,55.532413,0.481870,0.014913,0.9853,0.024,0.860,0.117,1,0.453390,0.546610,0.4375,0.5625
23,55.718905,55.653509,56.547240,114619200,56.208157,0.448851,0.193261,0.9983,0.019,0.826,0.155,1,0.452128,0.547872,0.1875,0.8125
24,55.895713,54.914788,56.275974,128168000,55.219967,0.570000,-0.026667,0.2960,0.000,0.937,0.062,0,0.451337,0.548663,0.3125,0.6875
25,55.212704,53.425242,55.321695,134322000,54.323814,0.500629,0.079748,0.0000,0.087,0.826,0.087,0,0.451075,0.548925,0.3125,0.6875
26,53.820039,53.333208,54.447345,118655600,54.197876,0.496491,0.056140,-0.6036,0.066,0.879,0.055,1,0.451862,0.548138,0.4375,0.5625
27,54.166388,53.829725,55.045587,107564000,54.948704,0.515522,0.002180,0.9808,0.026,0.860,0.113,1,0.452656,0.547344,0.3750,0.6250
28,54.607202,52.328066,54.822763,167962400,52.403149,0.475369,0.100699,0.9729,0.021,0.879,0.100,0,0.450709,0.549291,0.7500,0.2500
29,51.957485,51.424638,53.163657,212497600,51.940529,0.426502,0.057851,-0.9812,0.101,0.846,0.054,0,0.453006,0.546994,0.5625,0.4375
30,53.386494,52.519405,53.982316,161351600,53.795818,0.570000,-0.026667,0.2960,0.000,0.937,0.062,1,0.450638,0.549362,0.3750,0.6250
31,53.565718,52.623546,53.727994,123164000,52.645344,0.227656,0.090476,0.8720,0.000,0.805,0.195,0,0.451595,0.548405,0.4375,0.5625
32,53.025605,52.500023,54.008954,116736000,53.805500,0.468501,0.171646,0.9910,0.009,0.817,0.175,1,0.451985,0.548015,0.4375,0.5625
33,53.841829,53.124905,53.924177,91541600,53.572983,0.425734,0.078276,0.8201,0.057,0.849,0.094,0,0.454151,0.545849,0.3750,0.6250
34,52.766443,51.589334,53.221786,130325200,52.320789,0.431233,0.081885,0.5267,0.011,0.955,0.033,0,0.451238,0.548762,0.5000,0.5000
35,52.814883,52.662294,53.589934,132314800,53.117638,0.415193,-0.000204,-0.8591,0.081,0.867,0.052,1,0.451154,0.548846,0.6250,0.3750
36,53.233905,53.028034,54.098573,115168400,53.442200,0.525900,0.198940,0.9962,0.037,0.795,0.168,1,0.452090,0.547910,0.3125,0.6875
37,52.274770,52.001079,54.071919,155071200,53.945972,0.596656,0.216036,0.9950,0.039,0.785,0.177,1,0.450636,0.549364,0.5000,0.5000
38,53.914493,51.962330,54.309282,163702000,52.095543,0.511821,0.217274,0.9880,0.051,0.822,0.127,0,0.450656,0.549344,0.6250,0.3750
39,52.730116,52.497599,53.619002,119423200,53.236320,0.452071,0.188324,0.9806,0.071,0.806,0.123,1,0.451814,0.548186,0.5000,0.5000
40,52.291723,51.509407,53.330778,189033600,52.388607,0.473839,0.148462,0.9779,0.037,0.886,0.077,1,0.451401,0.548599,0.5000,0.5000
41,53.088579,49.915712,53.209681,183742000,51.405266,0.409604,0.072591,-0.9790,0.124,0.811,0.065,0,0.451160,0.548840,0.3125,0.6875
42,51.141255,50.685915,52.117335,146640000,51.661995,0.523846,0.197741,0.9976,0.040,0.752,0.208,1,0.450731,0.549269,0.3750,0.6250
43,52.529097,52.466122,53.393762,153435600,53.008659,0.483601,0.207833,0.9884,0.039,0.830,0.132,1,0.450645,0.549355,0.3750,0.6250
44,53.054672,52.512135,53.856365,233292800,53.822456,0.467354,0.213607,0.9927,0.064,0.781,0.155,1,0.455165,0.544835,0.3750,0.6250
45,50.753743,49.755862,51.746775,365314800,50.252380,0.502851,0.024342,0.9863,0.000,0.883,0.117,0,0.485133,0.514867,0.6875,0.3125
46,49.482167,47.997459,49.503965,264654800,48.825794,0.394655,0.105213,0.9995,0.038,0.820,0.143,0,0.459733,0.540267,0.4375,0.5625
47,48.905724,48.850018,49.583894,127531600,49.353802,0.477173,0.089910,0.9976,0.045,0.851,0.104,1,0.451368,0.548632,0.5000,0.5000
48,49.886651,49.440998,50.877263,133697600,50.850620,0.360042,0.004311,-0.2263,0.048,0.913,0.039,1,0.451099,0.548901,0.3750,0.6250
49,51.035335,50.250289,51.069362,101450400,50.673195,0.377070,0.142968,-0.8881,0.097,0.822,0.080,0,0.453178,0.546822,0.3750,0.6250
50,49.958633,49.156572,50.070433,137463200,49.696140,0.600000,0.425000,0.5267,0.000,0.903,0.097,0,0.450964,0.549036,0.2500,0.7500
51,46.575395,46.531644,47.924312,187531600,46.721222,0.396072,0.080293,-0.9848,0.131,0.820,0.050,1,0.451328,0.548672,0.5625,0.4375
52,47.127117,45.190019,47.268085,243204000,45.401474,0.443787,0.134448,0.9923,0.059,0.815,0.126,0,0.456438,0.543562,0.5000,0.5000
53,45.787923,45.425779,46.658037,185915200,46.521931,0.463636,-0.003409,0.9413,0.000,0.824,0.176,1,0.451254,0.548746,0.5625,0.4375
54,46.300749,46.047980,47.387176,147713200,47.037186,0.422488,0.191062,0.9705,0.057,0.839,0.103,1,0.450713,0.549287,0.5000,0.5000
55,46.179225,44.961553,46.349358,167701200,45.173004,0.397876,-0.001813,-0.9501,0.088,0.860,0.053,0,0.450705,0.549295,0.7500,0.2500
56,43.352566,42.657447,44.106018,271300800,43.014729,0.347485,-0.001767,-0.7430,0.059,0.898,0.043,0,0.460905,0.539095,0.4375,0.5625
57,43.683118,42.910225,43.814366,124496800,42.966125,0.410926,-0.081204,-0.9764,0.125,0.835,0.040,0,0.451522,0.548478,0.3750,0.6250
58,42.518921,41.828664,42.922382,94496000,41.874840,0.412446,0.077803,0.9981,0.050,0.754,0.196,0,0.453845,0.546155,0.5625,0.4375
59,42.348783,41.381447,42.521346,179994000,42.441139,0.298048,0.008821,0.9001,0.079,0.800,0.120,1,0.451017,0.548983,0.5625,0.4375

In [130]:
df1.to_csv("AppleOppgangNedgangUnik-KNN")

In [85]:
#Create support vector machine
from sklearn import svm
svcl = svm.SVC()
svcl.fit(x_train, y_train)

SVC()

In [86]:
svcl_score = svcl.score(x_test, y_test)
print("Results for Support Machine Vector:")
print(svcl_score)

Results for Support Machine Vector:
0.5308641975308642

In [87]:
y_pred_sv = svcl.predict(x_test)

In [88]:
#Confusion Matrix
cm_sv = confusion_matrix(y_test, y_pred_sv)

In [89]:
tn1, fp1, fn1, tp1 = confusion_matrix(y_test, y_pred_sv).ravel()
print(tn1, fp1, fn1, tp1)

6 114 0 123

In [90]:
tpr_sv = round(tp1/(tp1 + fn1), 4)
tnr_sv = round(tn1/(tn1 + fp1), 4)

print(tpr_sv, tnr_sv)

1.0 0.05

In [91]:
svcl = probability=True

In [92]:
#Sjekker sannsynligheten for oppgang og nedgang
SVM = svcl.predict_proba(x_test)

AttributeError: 'bool' object has no attribute 'predict_proba'

In [93]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

In [96]:
X_train_vec = vectorizer.fit_transform(x_train)

AttributeError: 'numpy.ndarray' object has no attribute 'lower'