In [1]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in c:\users\47478\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: requests in c:\users\47478\anaconda3\lib\site-packages (from vaderSentiment) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\47478\anaconda3\lib\site-packages (from requests->vaderSentiment) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\47478\anaconda3\lib\site-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\47478\anaconda3\lib\site-packages (from requests->vaderSentiment) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\47478\anaconda3\lib\site-packages (from requests->vaderSentiment) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install nltk

Requirement already satisfied: nltk in c:\users\47478\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\47478\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\47478\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\47478\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\47478\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\47478\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import re
from nltk.sentiment import SentimentIntensityAnalyzer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [5]:
MicrosoftR = pd.read_csv(r"C:\Users\47478\OneDrive\Dokumenter\Skule\Master\Microsoft\Microsoft_Ferdig.csv")

In [6]:
MicrosoftR.shape

(1812, 16)

In [7]:
MicrosoftR.head(3)

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,author_link,article_content,appears_in,symbols,related_articles,Time.1
0,2,2018-03-13,18:42:00,2,473,{'$oid': '5ab8d21e3efc2c03c520d00f'},https://www.nasdaq.com/article/is-oracle-orcl-...,Is Oracle (ORCL) Set to Beat Earnings Estimate...,{'$date': '2018-03-12T18:42:00Z'},"By Benjamin Rains, Zacks.com",https://www.nasdaq.com/author/zacks,Cloud computing has been one of the most well-...,"Investing,Earnings","AMZN,GOOGL,WDAY,MSFT,CRM",NaN,{'$date': '2018-03-12T18:42:00Z'}
1,4,2018-03-13,22:09:00,4,849,{'$oid': '5ab8d1dc3efc2c03c520cf8b'},https://www.nasdaq.com/article/1-smart-artific...,1 Smart Artificial Intelligence Bet You Can Ma...,{'$date': '2018-03-12T22:09:00Z'},"By Harsh Chauhan, Motley Fool",https://www.nasdaq.com/author/fool,"A report by IDC, which follows the tech indust...","PersonalFinance,Stocks","MSFT,AI,GOOGL,AMZN,GOOG",NaN,{'$date': '2018-03-12T22:09:00Z'}
2,6,2018-03-15,16:44:00,6,1313,{'$oid': '5ab8decb3efc2c03c520ec83'},https://www.nasdaq.com/article/3-large-cap-etf...,3 Large-Cap ETFs With Solid Inflows in March,{'$date': '2018-03-14T16:44:00Z'},"By Zacks Equity Research, Zacks.com",https://www.nasdaq.com/author/zacks,Wall Street has been recovering lately as fear...,"Investing,ETFs","AMZN,GOOGL,AAPL,MSFT,VV",NaN,{'$date': '2018-03-14T16:44:00Z'}

In [9]:
MicrosoftAksje = pd.read_csv(r"C:\Users\47478\OneDrive\Dokumenter\Skule\Master\Microsoft\Microsoft_Prices.csv")

In [10]:
MicrosoftAksje.shape

(8710, 8)

In [11]:
MicrosoftAksje.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,Label
0,1986-03-13,0.088542,0.101563,0.088542,0.097222,0.062055,1031788800,1
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.064271,308160000,1
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.065379,133171200,1

In [12]:
#Merge datasettene
merge = MicrosoftR.merge(MicrosoftAksje, how = "inner", on = "Date")

In [13]:
#Create a function to get the subjecticity
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

#Create a fuction to get the polarity
def getPolarity(text):
    return TextBlob(text).sentiment.polarity

In [14]:
#Create two new columns "Subjectivity" and "Polarity"
merge["Subjectivity"] = merge["article_content"].apply(getSubjectivity)
merge["Polarity"] = merge["article_content"].apply(getPolarity)

In [16]:
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\47478\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [17]:
merge['article_content_without_stopwords'] = merge['article_content'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [18]:
from nltk.stem import PorterStemmer

port = PorterStemmer()

In [20]:
def stem_words(article_content_without_stopwords):
    return " ".join([port.stem(word) for word in article_content_without_stopwords.split()])

merge["EtterStemming"] = merge["article_content_without_stopwords"].apply(lambda article_content_without_stopwords: stem_words(article_content_without_stopwords))
merge.head()

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,...,High,Low,Close,Adj Close,Volume,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming
0,2,2018-03-13,18:42:00,2,473,{'$oid': '5ab8d21e3efc2c03c520d00f'},https://www.nasdaq.com/article/is-oracle-orcl-...,Is Oracle (ORCL) Set to Beat Earnings Estimate...,{'$date': '2018-03-12T18:42:00Z'},"By Benjamin Rains, Zacks.com",...,97.239998,93.970001,94.410004,91.155731,35387800,0,0.475277,0.108063,Cloud computing one well-known drivers growth ...,cloud comput one well-known driver growth tech...
1,4,2018-03-13,22:09:00,4,849,{'$oid': '5ab8d1dc3efc2c03c520cf8b'},https://www.nasdaq.com/article/1-smart-artific...,1 Smart Artificial Intelligence Bet You Can Ma...,{'$date': '2018-03-12T22:09:00Z'},"By Harsh Chauhan, Motley Fool",...,97.239998,93.970001,94.410004,91.155731,35387800,0,0.440061,0.169724,"A report IDC, follows tech industry, estimates...","a report idc, follow tech industry, estim worl..."
2,10,2018-03-13,16:12:00,10,1660,{'$oid': '5ab8d2b83efc2c03c520d159'},https://www.nasdaq.com/article/3-strong-buy-se...,3 Strong Buy Semiconductor Stocks to Consider Now,{'$date': '2018-03-12T16:12:00Z'},"By Ryan McQueeney, Zacks.com",...,97.239998,93.970001,94.410004,91.155731,35387800,0,0.489353,0.146362,Semiconductor stocks battered recent market se...,semiconductor stock batter recent market sell-...
3,8,2018-03-13,07:05:00,8,1472,{'$oid': '5ab8d0693efc2c03c520cc37'},https://www.nasdaq.com/article/slack-needs-to-...,Slack Needs to Worry About Microsoft Teams,{'$date': '2018-03-13T07:05:00Z'},"By Timothy Green, Motley Fool",...,97.239998,93.970001,94.410004,91.155731,35387800,0,0.508590,0.175829,"Slack, software company focused workplace mess...","slack, softwar compani focus workplac messagin..."
4,6,2018-03-15,16:44:00,6,1313,{'$oid': '5ab8decb3efc2c03c520ec83'},https://www.nasdaq.com/article/3-large-cap-etf...,3 Large-Cap ETFs With Solid Inflows in March,{'$date': '2018-03-14T16:44:00Z'},"By Zacks Equity Research, Zacks.com",...,94.580002,92.830002,94.180000,90.933655,27611000,1,0.532905,0.115972,Wall Street recovering lately fears aggressive...,wall street recov late fear aggress rate hike ...

In [21]:
#Create a function to get the sentiment scores
def getSIA(EtterStemming):
    sia = SentimentIntensityAnalyzer()
    sentiment = sia.polarity_scores(EtterStemming)
    return sentiment

In [22]:
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\47478\AppData\Roaming\nltk_data...

True

In [23]:
#Get the sentiment scores for each day
compound = []
neg = []
pos = []
neu = []
SIA = 0

for i in range(0, len(merge["EtterStemming"])):
    SIA = getSIA(merge["EtterStemming"][i])
    compound.append(SIA["compound"])
    neg.append(SIA["neg"])
    neu.append(SIA["neu"])
    pos.append(SIA["pos"])

In [24]:
#Store the sentiment scores in the merge data set:
merge["Compound"] = compound
merge["Negative"] = neg
merge["Neutral"] = neu
merge["Positive"] = pos

In [25]:
#Show the merge data
merge.head(3)

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,...,Volume,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming,Compound,Negative,Neutral,Positive
0,2,2018-03-13,18:42:00,2,473,{'$oid': '5ab8d21e3efc2c03c520d00f'},https://www.nasdaq.com/article/is-oracle-orcl-...,Is Oracle (ORCL) Set to Beat Earnings Estimate...,{'$date': '2018-03-12T18:42:00Z'},"By Benjamin Rains, Zacks.com",...,35387800,0,0.475277,0.108063,Cloud computing one well-known drivers growth ...,cloud comput one well-known driver growth tech...,0.9633,0.000,0.901,0.099
1,4,2018-03-13,22:09:00,4,849,{'$oid': '5ab8d1dc3efc2c03c520cf8b'},https://www.nasdaq.com/article/1-smart-artific...,1 Smart Artificial Intelligence Bet You Can Ma...,{'$date': '2018-03-12T22:09:00Z'},"By Harsh Chauhan, Motley Fool",...,35387800,0,0.440061,0.169724,"A report IDC, follows tech industry, estimates...","a report idc, follow tech industry, estim worl...",0.9892,0.048,0.823,0.130
2,10,2018-03-13,16:12:00,10,1660,{'$oid': '5ab8d2b83efc2c03c520d159'},https://www.nasdaq.com/article/3-strong-buy-se...,3 Strong Buy Semiconductor Stocks to Consider Now,{'$date': '2018-03-12T16:12:00Z'},"By Ryan McQueeney, Zacks.com",...,35387800,0,0.489353,0.146362,Semiconductor stocks battered recent market se...,semiconductor stock batter recent market sell-...,0.9948,0.016,0.844,0.140

In [28]:
merge.to_csv("MicrosoftDato")

In [26]:
#Create a list of column to keep
keep_columns = ["Open", "Low", "High", "Volume", "Subjectivity", "Polarity", "Compound", "Negative", "Neutral", "Positive", "Label"]
df = merge[keep_columns]
df

,Open,Low,High,Volume,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,97.000000,93.970001,97.239998,35387800,0.475277,0.108063,0.9633,0.000,0.901,0.099,0
1,97.000000,93.970001,97.239998,35387800,0.440061,0.169724,0.9892,0.048,0.823,0.130,0
2,97.000000,93.970001,97.239998,35387800,0.489353,0.146362,0.9948,0.016,0.844,0.140,0
3,97.000000,93.970001,97.239998,35387800,0.508590,0.175829,0.9906,0.062,0.803,0.135,0
4,93.529999,92.830002,94.580002,27611000,0.532905,0.115972,0.9877,0.074,0.781,0.145,1
...,...,...,...,...,...,...,...,...,...,...,...
1423,31.620001,31.250000,31.650000,63213000,0.461096,0.078854,0.9698,0.041,0.830,0.129,0
1424,32.869999,32.150002,32.869999,40685000,0.373844,-0.029014,0.7269,0.029,0.924,0.047,0
1425,37.240002,37.060001,38.220001,88948800,0.343695,0.045125,0.9300,0.040,0.867,0.094,1
1426,62.500000,62.240002,63.419998,35718900,0.400040,0.049240,0.7184,0.061,0.840,0.099,1
1427,60.860001,60.220001,61.180000,34655400,0.368776,0.102284,0.9949,0.017,0.814,0.169,0

In [29]:
MicrosoftTest = pd.read_csv(r"C:\Users\47478\OneDrive\Dokumenter\Skule\Master\Microsoft\TestMicrosoft.csv")

In [30]:
MicrosoftTest.shape

(286, 32)

In [31]:
MicrosoftTest.head(3)

,NA,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,...,Volume,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming,Compound,Negative,Neutral,Positive
0,758,2104,2016-07-20,16:50:56,2104,136361,{'$oid': '5aca24533efc2c02e719de38'},https://www.nasdaq.com/article/why-johnson-joh...,"Why Johnson & Johnson (JNJ), McDonald’s Corpor...",{'$date': '2016-07-19T16:50:56Z'},...,89893300,0,0.447931,0.167139,InvestorPlace InvestorPlace - Stock Market New...,"investorplac investorplac - stock market news,...",0.9844,0.018,0.877,0.105
1,759,2945,2016-07-20,18:46:00,2945,187575,{'$oid': '5acf903c3efc2c18c2b6bc81'},https://www.nasdaq.com/article/trimble-chinas-...,Trimble & China's CSCEC Tie Up for Mixed Reali...,{'$date': '2016-07-19T18:46:00Z'},...,89893300,0,0.398984,0.068981,Trimble Navigation Limited TRMB CSCEC No. 1 Bu...,trimbl navig limit trmb cscec no. 1 build grou...,0.9664,0.010,0.883,0.107
2,760,3221,2016-07-20,17:23:00,3221,206011,{'$oid': '5acfd8183efc2c18c2b8759e'},https://www.nasdaq.com/article/technology-stoc...,Technology Stocks to Watch This Earnings Seaso...,{'$date': '2016-07-19T17:23:00Z'},...,89893300,0,0.555122,0.078125,Is time tech?We take look three important tech...,is time tech?w take look three import tech com...,0.9477,0.032,0.851,0.117

In [32]:
MicrosoftTrain = pd.read_csv(r"C:\Users\47478\OneDrive\Dokumenter\Skule\Master\Microsoft\TrainMicrosoft.csv")

In [33]:
MicrosoftTrain.shape

(1142, 32)

In [34]:
MicrosoftTrain.head(3)

,NA,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,...,Volume,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming,Compound,Negative,Neutral,Positive
0,1138,3954,2012-01-12,17:00:01,3954,251169,{'$oid': '5ad0815f3efc2c18c2bc7f4d'},https://www.nasdaq.com/article/ea-set-to-relea...,EA Set to Release New Golf Game - Analyst Blog,{'$date': '2012-01-11T17:00:01Z'},...,49370800,1,0.474964,0.112476,Video game developer publisher Electronic Arts...,video game develop publish electron art inc. (...,0.9902,0.026,0.830,0.144
1,1112,3847,2012-01-13,17:02:57,3847,245258,{'$oid': '5ad073813efc2c18c2bc2dd3'},https://www.nasdaq.com/article/3-nasdaq-stocks...,3 Nasdaq Stocks for Short-Term Traders,{'$date': '2012-01-12T17:02:57Z'},...,60196100,1,0.436944,0.104343,While Microsoft ( MSFT ) Sony ( SNE ) making p...,while microsoft ( msft ) soni ( sne ) make pre...,0.7959,0.070,0.823,0.107
2,1113,5756,2012-01-13,17:23:01,5756,368115,{'$oid': '5ad2a9ec3efc2c25783758b6'},https://www.nasdaq.com/article/eas-strategic-g...,EA's Strategic Game Promotion - Analyst Blog,{'$date': '2012-01-12T17:23:01Z'},...,60196100,1,0.412778,0.042500,Electronic Arts Inc. ( EA ) devised unique pla...,electron art inc. ( ea ) devis uniqu plan prom...,0.9670,0.024,0.862,0.114

In [83]:
#Create a list of column to keep
keep_columns1 = ["Open", "Low", "High", "Volume","Close", "Subjectivity", "Polarity", "Compound", "Negative", "Neutral", "Positive", "Label"]
df1 = MicrosoftTest[keep_columns1]
df1

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,56.150002,55.529999,56.840000,89893300,55.910000,0.447931,0.167139,0.9844,0.018,0.877,0.105,0
1,56.150002,55.529999,56.840000,89893300,55.910000,0.398984,0.068981,0.9664,0.010,0.883,0.107,0
2,56.150002,55.529999,56.840000,89893300,55.910000,0.555122,0.078125,0.9477,0.032,0.851,0.117,0
3,56.150002,55.529999,56.840000,89893300,55.910000,0.454654,0.126862,0.9897,0.023,0.837,0.140,0
4,56.150002,55.529999,56.840000,89893300,55.910000,0.345879,0.074283,0.9872,0.000,0.804,0.196,0
...,...,...,...,...,...,...,...,...,...,...,...,...
281,91.269997,89.660004,91.750000,38604700,89.790001,0.411883,0.068289,0.9261,0.058,0.856,0.085,0
282,91.269997,89.660004,91.750000,38604700,89.790001,0.484534,0.041175,0.9136,0.008,0.914,0.078,0
283,89.500000,87.080002,90.459999,44068900,87.180000,0.523148,-0.048148,0.2960,0.000,0.937,0.062,0
284,90.610001,90.400002,94.000000,56396800,93.779999,0.510927,0.034368,0.2468,0.031,0.926,0.043,1
285,90.610001,90.400002,94.000000,56396800,93.779999,0.378289,0.116071,0.9942,0.004,0.826,0.170,1

In [84]:
#Create the feature data set
X = df1
X = np.array(X.drop(["Label"], 1))

#Create the target data set
y = np.array(df1["Label"])

C:\Users\47478\AppData\Local\Temp/ipykernel_11548/3997290794.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = np.array(X.drop(["Label"], 1))

In [42]:
X

array([[5.6150002e+01, 5.5529999e+01, 5.6840000e+01, ..., 1.8000000e-02,
        8.7700000e-01, 1.0500000e-01],
       [5.6150002e+01, 5.5529999e+01, 5.6840000e+01, ..., 1.0000000e-02,
        8.8300000e-01, 1.0700000e-01],
       [5.6150002e+01, 5.5529999e+01, 5.6840000e+01, ..., 3.2000000e-02,
        8.5100000e-01, 1.1700000e-01],
       ...,
       [8.9500000e+01, 8.7080002e+01, 9.0459999e+01, ..., 0.0000000e+00,
        9.3700000e-01, 6.2000000e-02],
       [9.0610001e+01, 9.0400002e+01, 9.4000000e+01, ..., 3.1000000e-02,
        9.2600000e-01, 4.3000000e-02],
       [9.0610001e+01, 9.0400002e+01, 9.4000000e+01, ..., 4.0000000e-03,
        8.2600000e-01, 1.7000000e-01]])

In [43]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1],
      dtype=int64)

In [85]:
x_test = X

In [45]:
len(x_test)

286

In [86]:
y_test = y

In [48]:
len(y_test)

286

In [87]:
#Create a list of column to keep
keep_columns2 = ["Open", "Low", "High", "Volume", "Close", "Subjectivity", "Polarity", "Compound", "Negative", "Neutral", "Positive", "Label"]
df2 = MicrosoftTrain[keep_columns2]
df2

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,27.870001,27.650000,28.020000,49370800,28.000000,0.474964,0.112476,0.9902,0.026,0.830,0.144,1
1,27.930000,27.790001,28.250000,60196100,28.250000,0.436944,0.104343,0.7959,0.070,0.823,0.107,1
2,27.930000,27.790001,28.250000,60196100,28.250000,0.412778,0.042500,0.9670,0.024,0.862,0.114,1
3,28.820000,28.750000,29.740000,165902900,29.709999,0.360816,0.081318,0.9852,0.030,0.829,0.142,1
4,28.820000,28.750000,29.740000,165902900,29.709999,0.348056,0.059833,0.7840,0.061,0.847,0.092,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1137,53.950001,53.209999,54.000000,32024400,53.700001,0.519841,0.030159,0.2960,0.000,0.937,0.062,0
1138,53.700001,53.549999,54.340000,31433900,53.959999,0.528232,0.062512,0.9870,0.013,0.894,0.093,1
1139,53.700001,53.549999,54.340000,31433900,53.959999,0.213019,0.013586,0.9982,0.031,0.872,0.097,1
1140,53.709999,52.930000,53.900002,53336500,53.090000,0.472899,0.149160,0.9201,0.117,0.737,0.146,0
1141,53.709999,52.930000,53.900002,53336500,53.090000,0.367139,0.074944,0.9818,0.022,0.882,0.096,0

In [88]:
#Create the feature data set
X1 = df2
X1 = np.array(X1.drop(["Label"], 1))

#Create the target data set
y1 = np.array(df2["Label"])

C:\Users\47478\AppData\Local\Temp/ipykernel_11548/791745654.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X1 = np.array(X1.drop(["Label"], 1))

In [51]:
X1

array([[2.7870001e+01, 2.7650000e+01, 2.8020000e+01, ..., 2.6000000e-02,
        8.3000000e-01, 1.4400000e-01],
       [2.7930000e+01, 2.7790001e+01, 2.8250000e+01, ..., 7.0000000e-02,
        8.2300000e-01, 1.0700000e-01],
       [2.7930000e+01, 2.7790001e+01, 2.8250000e+01, ..., 2.4000000e-02,
        8.6200000e-01, 1.1400000e-01],
       ...,
       [5.3700001e+01, 5.3549999e+01, 5.4340000e+01, ..., 3.1000000e-02,
        8.7200000e-01, 9.7000000e-02],
       [5.3709999e+01, 5.2930000e+01, 5.3900002e+01, ..., 1.1700000e-01,
        7.3700000e-01, 1.4600000e-01],
       [5.3709999e+01, 5.2930000e+01, 5.3900002e+01, ..., 2.2000000e-02,
        8.8200000e-01, 9.6000000e-02]])

In [52]:
y1

array([1, 1, 1, ..., 1, 0, 0], dtype=int64)

In [89]:
x_train = X1

In [54]:
len(X1)

1142

In [90]:
y_train = y1

In [70]:
len(y1)

1142

In [91]:
#Create and train the model
model = LinearDiscriminantAnalysis().fit(x_train, y_train)

In [92]:
#Show the models predictions
predictions = model.predict(x_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1],
      dtype=int64)

In [60]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1],
      dtype=int64)

In [93]:
#Show the model metrics
print( classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.87      0.99      0.92       150
           1       0.98      0.83      0.90       136

    accuracy                           0.91       286
   macro avg       0.92      0.91      0.91       286
weighted avg       0.92      0.91      0.91       286

In [94]:
#Create and train the model (Naive Bayes)
from sklearn.naive_bayes import GaussianNB
modelNB = GaussianNB()

In [95]:
#Train the model
modelNB.fit(x_train, y_train)

GaussianNB()

In [96]:
#Accuracy for modellen
modelNB.score(x_test, y_test)

0.5174825174825175

In [97]:
x_test[:10]

array([[5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        5.59100000e+01, 4.47930658e-01, 1.67138957e-01, 9.84400000e-01,
        1.80000000e-02, 8.77000000e-01, 1.05000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        5.59100000e+01, 3.98984349e-01, 6.89810190e-02, 9.66400000e-01,
        1.00000000e-02, 8.83000000e-01, 1.07000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        5.59100000e+01, 5.55121528e-01, 7.81250000e-02, 9.47700000e-01,
        3.20000000e-02, 8.51000000e-01, 1.17000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        5.59100000e+01, 4.54653680e-01, 1.26862374e-01, 9.89700000e-01,
        2.30000000e-02, 8.37000000e-01, 1.40000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        5.59100000e+01, 3.45879247e-01, 7.42825987e-02, 9.87200000e-01,
        0.00000000e+00, 8.04000000e-01, 1.96000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        5.59100000e+01, 3.81649462e-01, 5.35528361e-02, 9.86200000e-01,
        6.30000000e-02, 7.67000000e-01, 1.70000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        5.59100000e+01, 4.23091441e-01, 4.69298246e-03, 1.28000000e-01,
        7.70000000e-02, 8.45000000e-01, 7.80000000e-02],
       [5.59800000e+01, 5.57599980e+01, 5.62300000e+01, 3.27767000e+07,
        5.57999990e+01, 5.15352183e-01, 1.53706034e-01, 9.87400000e-01,
        7.00000000e-03, 9.08000000e-01, 8.50000000e-02],
       [5.59800000e+01, 5.57599980e+01, 5.62300000e+01, 3.27767000e+07,
        5.57999990e+01, 4.60470504e-01, 1.47808717e-01, 9.95900000e-01,
        4.90000000e-02, 7.76000000e-01, 1.75000000e-01],
       [5.59800000e+01, 5.57599980e+01, 5.62300000e+01, 3.27767000e+07,
        5.57999990e+01, 4.22645299e-01, 7.58162393e-02, 9.84400000e-01,
        3.50000000e-02, 8.56000000e-01, 1.08000000e-01]])

In [98]:
#Faktisk oppgang eller nedgang
y_test[:100]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0], dtype=int64)

In [67]:
#Sjekker om vi modellen predikerer rett
modelNB.predict(x_test[:100])

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0], dtype=int64)

In [99]:
#Sjekker sannsynligheten for oppgang og nedgang
Bayes = modelNB.predict_proba(x_test)

In [100]:
Bayes

array([[0.620642  , 0.379358  ],
       [0.620642  , 0.379358  ],
       [0.62064199, 0.37935801],
       [0.620642  , 0.379358  ],
       [0.620642  , 0.379358  ],
       [0.620642  , 0.379358  ],
       [0.62064198, 0.37935802],
       [0.47705534, 0.52294466],
       [0.47705534, 0.52294466],
       [0.47705534, 0.52294466],
       [0.47705534, 0.52294466],
       [0.47705534, 0.52294466],
       [0.47705534, 0.52294466],
       [0.47705534, 0.52294466],
       [0.47705534, 0.52294466],
       [0.47638538, 0.52361462],
       [0.47638538, 0.52361462],
       [0.47638537, 0.52361463],
       [0.47246718, 0.52753282],
       [0.47656745, 0.52343255],
       [0.47656745, 0.52343255],
       [0.47656744, 0.52343256],
       [0.47656745, 0.52343255],
       [0.48287306, 0.51712694],
       [0.48287306, 0.51712694],
       [0.48287306, 0.51712694],
       [0.48287306, 0.51712694],
       [0.48287305, 0.51712695],
       [0.47474834, 0.52525166],
       [0.47474834, 0.52525166],
       [0.47079976, 0.52920024],
       [0.47079976, 0.52920024],
       [0.47976712, 0.52023288],
       [0.47124631, 0.52875369],
       [0.47358228, 0.52641772],
       [0.4735823 , 0.5264177 ],
       [0.47358229, 0.52641771],
       [0.46647899, 0.53352101],
       [0.46801658, 0.53198342],
       [0.46801659, 0.53198341],
       [0.46801659, 0.53198341],
       [0.46690505, 0.53309495],
       [0.46745102, 0.53254898],
       [0.46673583, 0.53326417],
       [0.46673582, 0.53326418],
       [0.46673583, 0.53326417],
       [0.46548908, 0.53451092],
       [0.46548908, 0.53451092],
       [0.46618683, 0.53381317],
       [0.46618684, 0.53381316],
       [0.46566657, 0.53433343],
       [0.46668782, 0.53331218],
       [0.46668782, 0.53331218],
       [0.46647556, 0.53352444],
       [0.46647554, 0.53352446],
       [0.46662014, 0.53337986],
       [0.46766644, 0.53233356],
       [0.46594341, 0.53405659],
       [0.46608512, 0.53391488],
       [0.46761259, 0.53238741],
       [0.46675268, 0.53324732],
       [0.46675267, 0.53324733],
       [0.46590814, 0.53409186],
       [0.46625603, 0.53374397],
       [0.47975728, 0.52024272],
       [0.47975729, 0.52024271],
       [0.47975728, 0.52024272],
       [0.47975729, 0.52024271],
       [0.47433183, 0.52566817],
       [0.47433182, 0.52566818],
       [0.46943926, 0.53056074],
       [0.49361037, 0.50638963],
       [0.49361037, 0.50638963],
       [0.49361038, 0.50638962],
       [0.4662223 , 0.5337777 ],
       [0.46713257, 0.53286743],
       [0.46713257, 0.53286743],
       [0.46803532, 0.53196468],
       [0.47245451, 0.52754549],
       [0.47245451, 0.52754549],
       [0.46745661, 0.53254339],
       [0.4674566 , 0.5325434 ],
       [0.46745661, 0.53254339],
       [0.47040085, 0.52959915],
       [0.46724981, 0.53275019],
       [0.46602767, 0.53397233],
       [0.46602768, 0.53397232],
       [0.46725069, 0.53274931],
       [0.4672507 , 0.5327493 ],
       [0.47117585, 0.52882415],
       [0.46830081, 0.53169919],
       [0.47029389, 0.52970611],
       [0.47189886, 0.52810114],
       [0.46870211, 0.53129789],
       [0.46870211, 0.53129789],
       [0.46870211, 0.53129789],
       [0.5024662 , 0.4975338 ],
       [0.50246619, 0.49753381],
       [0.58512209, 0.41487791],
       [0.58512208, 0.41487792],
       [0.58512209, 0.41487791],
       [0.5119966 , 0.4880034 ],
       [0.479781  , 0.520219  ],
       [0.47978101, 0.52021899],
       [0.47978101, 0.52021899],
       [0.47978101, 0.52021899],
       [0.47411842, 0.52588158],
       [0.47411841, 0.52588159],
       [0.472811  , 0.527189  ],
       [0.472811  , 0.527189  ],
       [0.472811  , 0.527189  ],
       [0.47794245, 0.52205755],
       [0.47794245, 0.52205755],
       [0.46974792, 0.53025208],
       [0.46828119, 0.53171881],
       [0.4682812 , 0.5317188 ],
       [0.47300417, 0.52699583],
       [0.50280903, 0.49719097],
       [0.4845408 , 0.5154592 ],
       [0.48454081, 0.51545919],
       [0.48073195, 0.51926805],
       [0.48073196, 0.51926804],
       [0.46705636, 0.53294364],
       [0.46840266, 0.53159734],
       [0.46840266, 0.53159734],
       [0.46840266, 0.53159734],
       [0.46840266, 0.53159734],
       [0.47920093, 0.52079907],
       [0.47906724, 0.52093276],
       [0.47906725, 0.52093275],
       [0.470437  , 0.529563  ],
       [0.47499147, 0.52500853],
       [0.47499148, 0.52500852],
       [0.46778826, 0.53221174],
       [0.47185082, 0.52814918],
       [0.47185082, 0.52814918],
       [0.47185082, 0.52814918],
       [0.46729553, 0.53270447],
       [0.4804959 , 0.5195041 ],
       [0.47211499, 0.52788501],
       [0.47211498, 0.52788502],
       [0.47211499, 0.52788501],
       [0.49005668, 0.50994332],
       [0.46612797, 0.53387203],
       [0.46829333, 0.53170667],
       [0.46829333, 0.53170667],
       [0.46829333, 0.53170667],
       [0.46529375, 0.53470625],
       [0.46528558, 0.53471442],
       [0.46528559, 0.53471441],
       [0.47048034, 0.52951966],
       [0.46784774, 0.53215226],
       [0.46784773, 0.53215227],
       [0.46997994, 0.53002006],
       [0.46997995, 0.53002005],
       [0.46717165, 0.53282835],
       [0.46737966, 0.53262034],
       [0.46663039, 0.53336961],
       [0.4666304 , 0.5333696 ],
       [0.46663039, 0.53336961],
       [0.46793887, 0.53206113],
       [0.46793889, 0.53206111],
       [0.46793889, 0.53206111],
       [0.46695735, 0.53304265],
       [0.46695738, 0.53304262],
       [0.46695738, 0.53304262],
       [0.46695735, 0.53304265],
       [0.46695738, 0.53304262],
       [0.46751254, 0.53248746],
       [0.4665784 , 0.5334216 ],
       [0.46657839, 0.53342161],
       [0.4665784 , 0.5334216 ],
       [0.4665784 , 0.5334216 ],
       [0.4665784 , 0.5334216 ],
       [0.47440559, 0.52559441],
       [0.47440559, 0.52559441],
       [0.47440559, 0.52559441],
       [0.46983911, 0.53016089],
       [0.46983911, 0.53016089],
       [0.46918138, 0.53081862],
       [0.46918139, 0.53081861],
       [0.49183981, 0.50816019],
       [0.49396206, 0.50603794],
       [0.49396207, 0.50603793],
       [0.49396205, 0.50603795],
       [0.49396207, 0.50603793],
       [0.49396206, 0.50603794],
       [0.49396207, 0.50603793],
       [0.49396206, 0.50603794],
       [0.49396207, 0.50603793],
       [0.49396207, 0.50603793],
       [0.47025485, 0.52974515],
       [0.48582455, 0.51417545],
       [0.48582456, 0.51417544],
       [0.48582456, 0.51417544],
       [0.48582456, 0.51417544],
       [0.49571937, 0.50428063],
       [0.49571937, 0.50428063],
       [0.49571937, 0.50428063],
       [0.49571937, 0.50428063],
       [0.49571937, 0.50428063],
       [0.47449015, 0.52550985],
       [0.47449014, 0.52550986],
       [0.46733017, 0.53266983],
       [0.46733016, 0.53266984],
       [0.46733018, 0.53266982],
       [0.46645053, 0.53354947],
       [0.46645053, 0.53354947],
       [0.46645052, 0.53354948],
       [0.46645053, 0.53354947],
       [0.46645053, 0.53354947],
       [0.46645053, 0.53354947],
       [0.46855852, 0.53144148],
       [0.46855853, 0.53144147],
       [0.46855853, 0.53144147],
       [0.46647585, 0.53352415],
       [0.46647585, 0.53352415],
       [0.46647585, 0.53352415],
       [0.46883228, 0.53116772],
       [0.46610011, 0.53389989],
       [0.46745424, 0.53254576],
       [0.46745423, 0.53254577],
       [0.46745424, 0.53254576],
       [0.46745423, 0.53254577],
       [0.46745424, 0.53254576],
       [0.46779892, 0.53220108],
       [0.46779892, 0.53220108],
       [0.46779892, 0.53220108],
       [0.46690227, 0.53309773],
       [0.46690226, 0.53309774],
       [0.46732721, 0.53267279],
       [0.46808511, 0.53191489],
       [0.47151463, 0.52848537],
       [0.47151463, 0.52848537],
       [0.4697477 , 0.5302523 ],
       [0.46660183, 0.53339817],
       [0.46793364, 0.53206636],
       [0.46713601, 0.53286399],
       [0.46713601, 0.53286399],
       [0.46700343, 0.53299657],
       [0.46700343, 0.53299657],
       [0.46700343, 0.53299657],
       [0.46700343, 0.53299657],
       [0.46700343, 0.53299657],
       [0.46549197, 0.53450803],
       [0.46994832, 0.53005168],
       [0.46994831, 0.53005169],
       [0.46751524, 0.53248476],
       [0.46751525, 0.53248475],
       [0.50199947, 0.49800053],
       [0.50199947, 0.49800053],
       [0.50199947, 0.49800053],
       [0.46554291, 0.53445709],
       [0.47127985, 0.52872015],
       [0.47127986, 0.52872014],
       [0.47127986, 0.52872014],
       [0.46751781, 0.53248219],
       [0.46689199, 0.53310801],
       [0.46689197, 0.53310803],
       [0.46689199, 0.53310801],
       [0.46689199, 0.53310801],
       [0.46689198, 0.53310802],
       [0.46854153, 0.53145847],
       [0.46663618, 0.53336382],
       [0.46723913, 0.53276087],
       [0.46540025, 0.53459975],
       [0.4656384 , 0.5343616 ],
       [0.46769271, 0.53230729],
       [0.46769272, 0.53230728],
       [0.48005197, 0.51994803],
       [0.48005197, 0.51994803],
       [0.48005197, 0.51994803],
       [0.48005197, 0.51994803],
       [0.476319  , 0.523681  ],
       [0.47203333, 0.52796667],
       [0.47203333, 0.52796667],
       [0.47203333, 0.52796667],
       [0.47203332, 0.52796668],
       [0.47203333, 0.52796667],
       [0.50170064, 0.49829936],
       [0.46966229, 0.53033771],
       [0.48427953, 0.51572047],
       [0.48427953, 0.51572047],
       [0.49266931, 0.50733069],
       [0.51718932, 0.48281068],
       [0.51718933, 0.48281067]])

In [72]:
column_values = ["Nedgang", "Oppgang"]

df3 = pd.DataFrame(data = Bayes,
                  columns = column_values)

In [73]:
df3

      Nedgang   Oppgang
0    0.620649  0.379351
1    0.620649  0.379351
2    0.620649  0.379351
3    0.620649  0.379351
4    0.620649  0.379351
..        ...       ...
281  0.484301  0.515699
282  0.484301  0.515699
283  0.492690  0.507310
284  0.517212  0.482788
285  0.517212  0.482788

[286 rows x 2 columns]

In [78]:
df1.append(Bayes)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [102]:
extracted_col = df3["Nedgang"]
extracted_col

0      0.620649
1      0.620649
2      0.620649
3      0.620649
4      0.620649
         ...
281    0.484301
282    0.484301
283    0.492690
284    0.517212
285    0.517212
Name: Nedgang, Length: 286, dtype: float64

In [103]:
df1 = df1.join(extracted_col)
df1

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang
0,56.150002,55.529999,56.840000,89893300,55.910000,0.447931,0.167139,0.9844,0.018,0.877,0.105,0,0.620649
1,56.150002,55.529999,56.840000,89893300,55.910000,0.398984,0.068981,0.9664,0.010,0.883,0.107,0,0.620649
2,56.150002,55.529999,56.840000,89893300,55.910000,0.555122,0.078125,0.9477,0.032,0.851,0.117,0,0.620649
3,56.150002,55.529999,56.840000,89893300,55.910000,0.454654,0.126862,0.9897,0.023,0.837,0.140,0,0.620649
4,56.150002,55.529999,56.840000,89893300,55.910000,0.345879,0.074283,0.9872,0.000,0.804,0.196,0,0.620649
...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,91.269997,89.660004,91.750000,38604700,89.790001,0.411883,0.068289,0.9261,0.058,0.856,0.085,0,0.484301
282,91.269997,89.660004,91.750000,38604700,89.790001,0.484534,0.041175,0.9136,0.008,0.914,0.078,0,0.484301
283,89.500000,87.080002,90.459999,44068900,87.180000,0.523148,-0.048148,0.2960,0.000,0.937,0.062,0,0.492690
284,90.610001,90.400002,94.000000,56396800,93.779999,0.510927,0.034368,0.2468,0.031,0.926,0.043,1,0.517212
285,90.610001,90.400002,94.000000,56396800,93.779999,0.378289,0.116071,0.9942,0.004,0.826,0.170,1,0.517212

In [104]:
extracted_col1 = df3["Oppgang"]
extracted_col1

0      0.379351
1      0.379351
2      0.379351
3      0.379351
4      0.379351
         ...
281    0.515699
282    0.515699
283    0.507310
284    0.482788
285    0.482788
Name: Oppgang, Length: 286, dtype: float64

In [105]:
df1 = df1.join(extracted_col1)
df1

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang,Oppgang
0,56.150002,55.529999,56.840000,89893300,55.910000,0.447931,0.167139,0.9844,0.018,0.877,0.105,0,0.620649,0.379351
1,56.150002,55.529999,56.840000,89893300,55.910000,0.398984,0.068981,0.9664,0.010,0.883,0.107,0,0.620649,0.379351
2,56.150002,55.529999,56.840000,89893300,55.910000,0.555122,0.078125,0.9477,0.032,0.851,0.117,0,0.620649,0.379351
3,56.150002,55.529999,56.840000,89893300,55.910000,0.454654,0.126862,0.9897,0.023,0.837,0.140,0,0.620649,0.379351
4,56.150002,55.529999,56.840000,89893300,55.910000,0.345879,0.074283,0.9872,0.000,0.804,0.196,0,0.620649,0.379351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,91.269997,89.660004,91.750000,38604700,89.790001,0.411883,0.068289,0.9261,0.058,0.856,0.085,0,0.484301,0.515699
282,91.269997,89.660004,91.750000,38604700,89.790001,0.484534,0.041175,0.9136,0.008,0.914,0.078,0,0.484301,0.515699
283,89.500000,87.080002,90.459999,44068900,87.180000,0.523148,-0.048148,0.2960,0.000,0.937,0.062,0,0.492690,0.507310
284,90.610001,90.400002,94.000000,56396800,93.779999,0.510927,0.034368,0.2468,0.031,0.926,0.043,1,0.517212,0.482788
285,90.610001,90.400002,94.000000,56396800,93.779999,0.378289,0.116071,0.9942,0.004,0.826,0.170,1,0.517212,0.482788

In [112]:
df1.head(60)

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang,Oppgang
0,56.150002,55.529999,56.840000,89893300,55.910000,0.447931,0.167139,0.9844,0.018,0.877,0.105,0,0.620649,0.379351
1,56.150002,55.529999,56.840000,89893300,55.910000,0.398984,0.068981,0.9664,0.010,0.883,0.107,0,0.620649,0.379351
2,56.150002,55.529999,56.840000,89893300,55.910000,0.555122,0.078125,0.9477,0.032,0.851,0.117,0,0.620649,0.379351
3,56.150002,55.529999,56.840000,89893300,55.910000,0.454654,0.126862,0.9897,0.023,0.837,0.140,0,0.620649,0.379351
4,56.150002,55.529999,56.840000,89893300,55.910000,0.345879,0.074283,0.9872,0.000,0.804,0.196,0,0.620649,0.379351
5,56.150002,55.529999,56.840000,89893300,55.910000,0.381649,0.053553,0.9862,0.063,0.767,0.170,0,0.620649,0.379351
6,56.150002,55.529999,56.840000,89893300,55.910000,0.423091,0.004693,0.1280,0.077,0.845,0.078,0,0.620649,0.379351
7,55.980000,55.759998,56.230000,32776700,55.799999,0.515352,0.153706,0.9874,0.007,0.908,0.085,0,0.477062,0.522938
8,55.980000,55.759998,56.230000,32776700,55.799999,0.460471,0.147809,0.9959,0.049,0.776,0.175,0,0.477062,0.522938
9,55.980000,55.759998,56.230000,32776700,55.799999,0.422645,0.075816,0.9844,0.035,0.856,0.108,0,0.477062,0.522938
10,55.980000,55.759998,56.230000,32776700,55.799999,0.362169,0.050385,0.9753,0.024,0.848,0.127,0,0.477062,0.522938
11,55.980000,55.759998,56.230000,32776700,55.799999,0.473985,0.087498,0.9831,0.045,0.845,0.110,0,0.477062,0.522938
12,55.980000,55.759998,56.230000,32776700,55.799999,0.394125,0.119630,0.9378,0.018,0.907,0.075,0,0.477062,0.522938
13,55.980000,55.759998,56.230000,32776700,55.799999,0.481989,0.158129,0.9928,0.027,0.830,0.143,0,0.477062,0.522938
14,55.980000,55.759998,56.230000,32776700,55.799999,0.323202,0.019183,0.9641,0.061,0.832,0.107,0,0.477062,0.522938
15,56.080002,55.779999,56.630001,32157200,56.570000,0.385365,0.052251,0.9959,0.032,0.784,0.184,1,0.476393,0.523607
16,56.080002,55.779999,56.630001,32157200,56.570000,0.385365,0.052251,0.9959,0.032,0.784,0.184,1,0.476393,0.523607
17,56.080002,55.779999,56.630001,32157200,56.570000,0.519841,0.030159,0.2960,0.000,0.937,0.062,1,0.476393,0.523607
18,56.520000,56.509998,57.290001,28079000,56.759998,0.322222,0.041667,-0.8741,0.096,0.904,0.000,1,0.472475,0.527525
19,56.610001,56.110001,56.799999,32327500,56.189999,0.486657,0.128095,0.9991,0.006,0.756,0.238,0,0.476575,0.523425
20,56.610001,56.110001,56.799999,32327500,56.189999,0.567063,0.136691,0.9803,0.011,0.853,0.136,0,0.476575,0.523425
21,56.610001,56.110001,56.799999,32327500,56.189999,0.558333,0.061111,0.2960,0.000,0.937,0.062,0,0.476575,0.523425
22,56.610001,56.110001,56.799999,32327500,56.189999,0.552755,0.059763,0.9974,0.042,0.782,0.176,0,0.476575,0.523425
23,56.000000,55.720001,56.369999,37550400,56.209999,0.392041,0.040030,0.9919,0.025,0.833,0.141,1,0.482880,0.517120
24,56.000000,55.720001,56.369999,37550400,56.209999,0.433800,0.158448,0.9806,0.051,0.845,0.104,1,0.482880,0.517120
25,56.000000,55.720001,56.369999,37550400,56.209999,0.392041,0.040030,0.9919,0.025,0.833,0.141,1,0.482880,0.517120
26,56.000000,55.720001,56.369999,37550400,56.209999,0.488485,0.118273,0.9965,0.066,0.771,0.163,1,0.482880,0.517120
27,56.000000,55.720001,56.369999,37550400,56.209999,0.397172,0.025707,0.5423,0.092,0.815,0.093,1,0.482880,0.517120
28,56.259998,56.049999,56.759998,30558700,56.680000,0.446153,0.026431,0.9783,0.069,0.818,0.113,1,0.474756,0.525244
29,56.259998,56.049999,56.759998,30558700,56.680000,0.389849,0.076712,0.9991,0.029,0.805,0.166,1,0.474756,0.525244
30,56.599998,56.139999,56.750000,26003400,56.580002,0.411516,0.129070,0.5374,0.061,0.874,0.064,0,0.470807,0.529193
31,56.599998,56.139999,56.750000,26003400,56.580002,0.457591,0.093811,0.9966,0.022,0.793,0.184,0,0.470807,0.529193
32,56.849998,56.310001,56.900002,35122000,56.580002,0.471414,0.131000,0.9622,0.056,0.837,0.107,0,0.479774,0.520226
33,56.799999,56.669998,57.520000,26587700,57.389999,0.415463,0.169273,0.9905,0.021,0.841,0.139,1,0.471254,0.528746
34,57.650002,57.450001,58.209999,29335200,57.959999,0.536364,0.031818,0.0000,0.000,1.000,0.000,1,0.473590,0.526410
35,57.650002,57.450001,58.209999,29335200,57.959999,0.379348,0.122826,0.9881,0.011,0.823,0.166,1,0.473590,0.526410
36,57.650002,57.450001,58.209999,29335200,57.959999,0.441656,0.171626,0.9979,0.015,0.789,0.195,1,0.473590,0.526410
37,58.029999,58.029999,58.450001,18162300,58.299999,0.409593,0.152679,0.9734,0.055,0.841,0.104,1,0.466487,0.533513
38,58.029999,57.619999,58.189999,21655200,57.939999,0.558333,0.061111,0.2960,0.000,0.937,0.062,0,0.468024,0.531976
39,58.029999,57.619999,58.189999,21655200,57.939999,0.574579,0.227946,0.9922,0.008,0.794,0.197,0,0.468024,0.531976
40,58.029999,57.619999,58.189999,21655200,57.939999,0.438347,0.057475,0.9905,0.015,0.856,0.129,0,0.468024,0.531976
41,58.009998,57.959999,58.500000,19283900,58.119999,0.215000,0.071364,0.9738,0.013,0.887,0.099,1,0.466913,0.533087
42,57.610001,57.270000,57.619999,20523500,57.439999,0.508113,0.062204,0.9963,0.042,0.819,0.139,0,0.467459,0.532541
43,57.540001,57.230000,57.680000,18856400,57.560001,0.483735,0.077709,0.9460,0.010,0.940,0.050,1,0.466744,0.533256
44,57.540001,57.230000,57.680000,18856400,57.560001,0.558333,0.061111,0.2960,0.000,0.937,0.062,1,0.466744,0.533256
45,57.540001,57.230000,57.680000,18856400,57.560001,0.364412,0.071843,0.8934,0.000,0.931,0.069,1,0.466744,0.533256
46,57.419998,57.270000,57.700001,14214300,57.599998,0.413275,0.109048,0.7263,0.085,0.812,0.103,1,0.465497,0.534503
47,57.419998,57.270000,57.700001,14214300,57.599998,0.475566,0.069879,0.8934,0.038,0.896,0.066,1,0.465497,0.534503
48,57.430000,57.200001,57.730000,17271000,57.619999,0.570000,-0.026667,0.2960,0.000,0.937,0.062,1,0.466195,0.533805
49,57.430000,57.200001,57.730000,17271000,57.619999,0.401123,0.081917,0.9955,0.006,0.879,0.115,1,0.466195,0.533805
50,57.599998,57.259998,57.750000,15221900,57.669998,0.486045,0.107363,0.9927,0.030,0.829,0.141,1,0.465674,0.534326
51,57.900002,57.849998,58.180000,18732400,57.889999,0.281127,0.051471,0.9911,0.015,0.837,0.148,0,0.466696,0.533304
52,57.900002,57.849998,58.180000,18732400,57.889999,0.423901,0.046836,0.9899,0.029,0.856,0.115,0,0.466696,0.533304
53,57.799999,57.720001,58.040001,18151500,57.950001,0.433356,0.112294,0.9982,0.031,0.818,0.151,1,0.466483,0.533517
54,57.799999,57.720001,58.040001,18151500,57.950001,0.523148,-0.048148,0.2960,0.000,0.937,0.062,1,0.466483,0.533517
55,57.880001,57.779999,58.290001,18552600,58.169998,0.361691,0.059984,0.9531,0.040,0.870,0.090,1,0.466628,0.533372
56,58.279999,57.689999,58.700001,20971200,58.029999,0.570000,-0.026667,0.2960,0.000,0.937,0.062,0,0.467674,0.532326
57,58.180000,58.099998,58.599998,16417200,58.099998,0.391202,0.130125,0.9879,0.018,0.873,0.109,0,0.465951,0.534049
58,57.980000,57.610001,58.189999,16930200,57.889999,0.570000,-0.026667,0.2960,0.000,0.937,0.062,0,0.466093,0.533907
59,57.650002,57.299999,57.799999,20860300,57.459999,0.523148,-0.048148,0.2960,0.000,0.937,0.062,0,0.467620,0.532380

In [114]:
df4 = df1

In [115]:
df4

,Open,Low,High,Volume,Close,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label,Nedgang,Oppgang
0,56.150002,55.529999,56.840000,89893300,55.910000,0.447931,0.167139,0.9844,0.018,0.877,0.105,0,0.620649,0.379351
1,56.150002,55.529999,56.840000,89893300,55.910000,0.398984,0.068981,0.9664,0.010,0.883,0.107,0,0.620649,0.379351
2,56.150002,55.529999,56.840000,89893300,55.910000,0.555122,0.078125,0.9477,0.032,0.851,0.117,0,0.620649,0.379351
3,56.150002,55.529999,56.840000,89893300,55.910000,0.454654,0.126862,0.9897,0.023,0.837,0.140,0,0.620649,0.379351
4,56.150002,55.529999,56.840000,89893300,55.910000,0.345879,0.074283,0.9872,0.000,0.804,0.196,0,0.620649,0.379351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,91.269997,89.660004,91.750000,38604700,89.790001,0.411883,0.068289,0.9261,0.058,0.856,0.085,0,0.484301,0.515699
282,91.269997,89.660004,91.750000,38604700,89.790001,0.484534,0.041175,0.9136,0.008,0.914,0.078,0,0.484301,0.515699
283,89.500000,87.080002,90.459999,44068900,87.180000,0.523148,-0.048148,0.2960,0.000,0.937,0.062,0,0.492690,0.507310
284,90.610001,90.400002,94.000000,56396800,93.779999,0.510927,0.034368,0.2468,0.031,0.926,0.043,1,0.517212,0.482788
285,90.610001,90.400002,94.000000,56396800,93.779999,0.378289,0.116071,0.9942,0.004,0.826,0.170,1,0.517212,0.482788

In [117]:
df4.to_csv("OppgangNedgang")