In [1]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in c:\users\47478\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: requests in c:\users\47478\anaconda3\lib\site-packages (from vaderSentiment) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\47478\anaconda3\lib\site-packages (from requests->vaderSentiment) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\47478\anaconda3\lib\site-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\47478\anaconda3\lib\site-packages (from requests->vaderSentiment) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\47478\anaconda3\lib\site-packages (from requests->vaderSentiment) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install nltk

Requirement already satisfied: nltk in c:\users\47478\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\47478\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\47478\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\47478\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\47478\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\47478\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import re
from nltk.sentiment import SentimentIntensityAnalyzer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [5]:
MicrosoftR = pd.read_csv(r"C:\Users\47478\OneDrive\Dokumenter\Skule\Master\Microsoft\Microsoft_Ferdig.csv")

In [6]:
MicrosoftR.shape

(1812, 16)

In [7]:
MicrosoftR.head(3)

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,author_link,article_content,appears_in,symbols,related_articles,Time.1
0,2,2018-03-13,18:42:00,2,473,{'$oid': '5ab8d21e3efc2c03c520d00f'},https://www.nasdaq.com/article/is-oracle-orcl-...,Is Oracle (ORCL) Set to Beat Earnings Estimate...,{'$date': '2018-03-12T18:42:00Z'},"By Benjamin Rains, Zacks.com",https://www.nasdaq.com/author/zacks,Cloud computing has been one of the most well-...,"Investing,Earnings","AMZN,GOOGL,WDAY,MSFT,CRM",NaN,{'$date': '2018-03-12T18:42:00Z'}
1,4,2018-03-13,22:09:00,4,849,{'$oid': '5ab8d1dc3efc2c03c520cf8b'},https://www.nasdaq.com/article/1-smart-artific...,1 Smart Artificial Intelligence Bet You Can Ma...,{'$date': '2018-03-12T22:09:00Z'},"By Harsh Chauhan, Motley Fool",https://www.nasdaq.com/author/fool,"A report by IDC, which follows the tech indust...","PersonalFinance,Stocks","MSFT,AI,GOOGL,AMZN,GOOG",NaN,{'$date': '2018-03-12T22:09:00Z'}
2,6,2018-03-15,16:44:00,6,1313,{'$oid': '5ab8decb3efc2c03c520ec83'},https://www.nasdaq.com/article/3-large-cap-etf...,3 Large-Cap ETFs With Solid Inflows in March,{'$date': '2018-03-14T16:44:00Z'},"By Zacks Equity Research, Zacks.com",https://www.nasdaq.com/author/zacks,Wall Street has been recovering lately as fear...,"Investing,ETFs","AMZN,GOOGL,AAPL,MSFT,VV",NaN,{'$date': '2018-03-14T16:44:00Z'}

In [9]:
MicrosoftAksje = pd.read_csv(r"C:\Users\47478\OneDrive\Dokumenter\Skule\Master\Microsoft\Microsoft_Prices.csv")

In [10]:
MicrosoftAksje.shape

(8710, 8)

In [11]:
MicrosoftAksje.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,Label
0,1986-03-13,0.088542,0.101563,0.088542,0.097222,0.062055,1031788800,1
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.064271,308160000,1
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.065379,133171200,1

In [12]:
#Merge datasettene
merge = MicrosoftR.merge(MicrosoftAksje, how = "inner", on = "Date")

In [13]:
#Create a function to get the subjecticity
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

#Create a fuction to get the polarity
def getPolarity(text):
    return TextBlob(text).sentiment.polarity

In [14]:
#Create two new columns "Subjectivity" and "Polarity"
merge["Subjectivity"] = merge["article_content"].apply(getSubjectivity)
merge["Polarity"] = merge["article_content"].apply(getPolarity)

In [16]:
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\47478\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [17]:
merge['article_content_without_stopwords'] = merge['article_content'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [18]:
from nltk.stem import PorterStemmer

port = PorterStemmer()

In [20]:
def stem_words(article_content_without_stopwords):
    return " ".join([port.stem(word) for word in article_content_without_stopwords.split()])

merge["EtterStemming"] = merge["article_content_without_stopwords"].apply(lambda article_content_without_stopwords: stem_words(article_content_without_stopwords))
merge.head()

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,...,High,Low,Close,Adj Close,Volume,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming
0,2,2018-03-13,18:42:00,2,473,{'$oid': '5ab8d21e3efc2c03c520d00f'},https://www.nasdaq.com/article/is-oracle-orcl-...,Is Oracle (ORCL) Set to Beat Earnings Estimate...,{'$date': '2018-03-12T18:42:00Z'},"By Benjamin Rains, Zacks.com",...,97.239998,93.970001,94.410004,91.155731,35387800,0,0.475277,0.108063,Cloud computing one well-known drivers growth ...,cloud comput one well-known driver growth tech...
1,4,2018-03-13,22:09:00,4,849,{'$oid': '5ab8d1dc3efc2c03c520cf8b'},https://www.nasdaq.com/article/1-smart-artific...,1 Smart Artificial Intelligence Bet You Can Ma...,{'$date': '2018-03-12T22:09:00Z'},"By Harsh Chauhan, Motley Fool",...,97.239998,93.970001,94.410004,91.155731,35387800,0,0.440061,0.169724,"A report IDC, follows tech industry, estimates...","a report idc, follow tech industry, estim worl..."
2,10,2018-03-13,16:12:00,10,1660,{'$oid': '5ab8d2b83efc2c03c520d159'},https://www.nasdaq.com/article/3-strong-buy-se...,3 Strong Buy Semiconductor Stocks to Consider Now,{'$date': '2018-03-12T16:12:00Z'},"By Ryan McQueeney, Zacks.com",...,97.239998,93.970001,94.410004,91.155731,35387800,0,0.489353,0.146362,Semiconductor stocks battered recent market se...,semiconductor stock batter recent market sell-...
3,8,2018-03-13,07:05:00,8,1472,{'$oid': '5ab8d0693efc2c03c520cc37'},https://www.nasdaq.com/article/slack-needs-to-...,Slack Needs to Worry About Microsoft Teams,{'$date': '2018-03-13T07:05:00Z'},"By Timothy Green, Motley Fool",...,97.239998,93.970001,94.410004,91.155731,35387800,0,0.508590,0.175829,"Slack, software company focused workplace mess...","slack, softwar compani focus workplac messagin..."
4,6,2018-03-15,16:44:00,6,1313,{'$oid': '5ab8decb3efc2c03c520ec83'},https://www.nasdaq.com/article/3-large-cap-etf...,3 Large-Cap ETFs With Solid Inflows in March,{'$date': '2018-03-14T16:44:00Z'},"By Zacks Equity Research, Zacks.com",...,94.580002,92.830002,94.180000,90.933655,27611000,1,0.532905,0.115972,Wall Street recovering lately fears aggressive...,wall street recov late fear aggress rate hike ...

In [21]:
#Create a function to get the sentiment scores
def getSIA(EtterStemming):
    sia = SentimentIntensityAnalyzer()
    sentiment = sia.polarity_scores(EtterStemming)
    return sentiment

In [22]:
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\47478\AppData\Roaming\nltk_data...

True

In [23]:
#Get the sentiment scores for each day
compound = []
neg = []
pos = []
neu = []
SIA = 0

for i in range(0, len(merge["EtterStemming"])):
    SIA = getSIA(merge["EtterStemming"][i])
    compound.append(SIA["compound"])
    neg.append(SIA["neg"])
    neu.append(SIA["neu"])
    pos.append(SIA["pos"])

In [24]:
#Store the sentiment scores in the merge data set:
merge["Compound"] = compound
merge["Negative"] = neg
merge["Neutral"] = neu
merge["Positive"] = pos

In [25]:
#Show the merge data
merge.head(3)

,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,author_name,...,Volume,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming,Compound,Negative,Neutral,Positive
0,2,2018-03-13,18:42:00,2,473,{'$oid': '5ab8d21e3efc2c03c520d00f'},https://www.nasdaq.com/article/is-oracle-orcl-...,Is Oracle (ORCL) Set to Beat Earnings Estimate...,{'$date': '2018-03-12T18:42:00Z'},"By Benjamin Rains, Zacks.com",...,35387800,0,0.475277,0.108063,Cloud computing one well-known drivers growth ...,cloud comput one well-known driver growth tech...,0.9633,0.000,0.901,0.099
1,4,2018-03-13,22:09:00,4,849,{'$oid': '5ab8d1dc3efc2c03c520cf8b'},https://www.nasdaq.com/article/1-smart-artific...,1 Smart Artificial Intelligence Bet You Can Ma...,{'$date': '2018-03-12T22:09:00Z'},"By Harsh Chauhan, Motley Fool",...,35387800,0,0.440061,0.169724,"A report IDC, follows tech industry, estimates...","a report idc, follow tech industry, estim worl...",0.9892,0.048,0.823,0.130
2,10,2018-03-13,16:12:00,10,1660,{'$oid': '5ab8d2b83efc2c03c520d159'},https://www.nasdaq.com/article/3-strong-buy-se...,3 Strong Buy Semiconductor Stocks to Consider Now,{'$date': '2018-03-12T16:12:00Z'},"By Ryan McQueeney, Zacks.com",...,35387800,0,0.489353,0.146362,Semiconductor stocks battered recent market se...,semiconductor stock batter recent market sell-...,0.9948,0.016,0.844,0.140

In [28]:
merge.to_csv("MicrosoftDato")

In [26]:
#Create a list of column to keep
keep_columns = ["Open", "Low", "High", "Volume", "Subjectivity", "Polarity", "Compound", "Negative", "Neutral", "Positive", "Label"]
df = merge[keep_columns]
df

,Open,Low,High,Volume,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,97.000000,93.970001,97.239998,35387800,0.475277,0.108063,0.9633,0.000,0.901,0.099,0
1,97.000000,93.970001,97.239998,35387800,0.440061,0.169724,0.9892,0.048,0.823,0.130,0
2,97.000000,93.970001,97.239998,35387800,0.489353,0.146362,0.9948,0.016,0.844,0.140,0
3,97.000000,93.970001,97.239998,35387800,0.508590,0.175829,0.9906,0.062,0.803,0.135,0
4,93.529999,92.830002,94.580002,27611000,0.532905,0.115972,0.9877,0.074,0.781,0.145,1
...,...,...,...,...,...,...,...,...,...,...,...
1423,31.620001,31.250000,31.650000,63213000,0.461096,0.078854,0.9698,0.041,0.830,0.129,0
1424,32.869999,32.150002,32.869999,40685000,0.373844,-0.029014,0.7269,0.029,0.924,0.047,0
1425,37.240002,37.060001,38.220001,88948800,0.343695,0.045125,0.9300,0.040,0.867,0.094,1
1426,62.500000,62.240002,63.419998,35718900,0.400040,0.049240,0.7184,0.061,0.840,0.099,1
1427,60.860001,60.220001,61.180000,34655400,0.368776,0.102284,0.9949,0.017,0.814,0.169,0

In [29]:
MicrosoftTest = pd.read_csv(r"C:\Users\47478\OneDrive\Dokumenter\Skule\Master\Microsoft\TestMicrosoft.csv")

In [30]:
MicrosoftTest.shape

(286, 32)

In [31]:
MicrosoftTest.head(3)

,NA,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,...,Volume,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming,Compound,Negative,Neutral,Positive
0,758,2104,2016-07-20,16:50:56,2104,136361,{'$oid': '5aca24533efc2c02e719de38'},https://www.nasdaq.com/article/why-johnson-joh...,"Why Johnson & Johnson (JNJ), McDonald’s Corpor...",{'$date': '2016-07-19T16:50:56Z'},...,89893300,0,0.447931,0.167139,InvestorPlace InvestorPlace - Stock Market New...,"investorplac investorplac - stock market news,...",0.9844,0.018,0.877,0.105
1,759,2945,2016-07-20,18:46:00,2945,187575,{'$oid': '5acf903c3efc2c18c2b6bc81'},https://www.nasdaq.com/article/trimble-chinas-...,Trimble & China's CSCEC Tie Up for Mixed Reali...,{'$date': '2016-07-19T18:46:00Z'},...,89893300,0,0.398984,0.068981,Trimble Navigation Limited TRMB CSCEC No. 1 Bu...,trimbl navig limit trmb cscec no. 1 build grou...,0.9664,0.010,0.883,0.107
2,760,3221,2016-07-20,17:23:00,3221,206011,{'$oid': '5acfd8183efc2c18c2b8759e'},https://www.nasdaq.com/article/technology-stoc...,Technology Stocks to Watch This Earnings Seaso...,{'$date': '2016-07-19T17:23:00Z'},...,89893300,0,0.555122,0.078125,Is time tech?We take look three important tech...,is time tech?w take look three import tech com...,0.9477,0.032,0.851,0.117

In [32]:
MicrosoftTrain = pd.read_csv(r"C:\Users\47478\OneDrive\Dokumenter\Skule\Master\Microsoft\TrainMicrosoft.csv")

In [33]:
MicrosoftTrain.shape

(1142, 32)

In [34]:
MicrosoftTrain.head(3)

,NA,Unnamed: 0,Date,Time,X.1,X,X_id,article_link,article_title,article_time,...,Volume,Label,Subjectivity,Polarity,article_content_without_stopwords,EtterStemming,Compound,Negative,Neutral,Positive
0,1138,3954,2012-01-12,17:00:01,3954,251169,{'$oid': '5ad0815f3efc2c18c2bc7f4d'},https://www.nasdaq.com/article/ea-set-to-relea...,EA Set to Release New Golf Game - Analyst Blog,{'$date': '2012-01-11T17:00:01Z'},...,49370800,1,0.474964,0.112476,Video game developer publisher Electronic Arts...,video game develop publish electron art inc. (...,0.9902,0.026,0.830,0.144
1,1112,3847,2012-01-13,17:02:57,3847,245258,{'$oid': '5ad073813efc2c18c2bc2dd3'},https://www.nasdaq.com/article/3-nasdaq-stocks...,3 Nasdaq Stocks for Short-Term Traders,{'$date': '2012-01-12T17:02:57Z'},...,60196100,1,0.436944,0.104343,While Microsoft ( MSFT ) Sony ( SNE ) making p...,while microsoft ( msft ) soni ( sne ) make pre...,0.7959,0.070,0.823,0.107
2,1113,5756,2012-01-13,17:23:01,5756,368115,{'$oid': '5ad2a9ec3efc2c25783758b6'},https://www.nasdaq.com/article/eas-strategic-g...,EA's Strategic Game Promotion - Analyst Blog,{'$date': '2012-01-12T17:23:01Z'},...,60196100,1,0.412778,0.042500,Electronic Arts Inc. ( EA ) devised unique pla...,electron art inc. ( ea ) devis uniqu plan prom...,0.9670,0.024,0.862,0.114

In [40]:
#Create a list of column to keep
keep_columns1 = ["Open", "Low", "High", "Volume", "Subjectivity", "Polarity", "Compound", "Negative", "Neutral", "Positive", "Label"]
df1 = MicrosoftTest[keep_columns1]
df1

,Open,Low,High,Volume,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,56.150002,55.529999,56.840000,89893300,0.447931,0.167139,0.9844,0.018,0.877,0.105,0
1,56.150002,55.529999,56.840000,89893300,0.398984,0.068981,0.9664,0.010,0.883,0.107,0
2,56.150002,55.529999,56.840000,89893300,0.555122,0.078125,0.9477,0.032,0.851,0.117,0
3,56.150002,55.529999,56.840000,89893300,0.454654,0.126862,0.9897,0.023,0.837,0.140,0
4,56.150002,55.529999,56.840000,89893300,0.345879,0.074283,0.9872,0.000,0.804,0.196,0
...,...,...,...,...,...,...,...,...,...,...,...
281,91.269997,89.660004,91.750000,38604700,0.411883,0.068289,0.9261,0.058,0.856,0.085,0
282,91.269997,89.660004,91.750000,38604700,0.484534,0.041175,0.9136,0.008,0.914,0.078,0
283,89.500000,87.080002,90.459999,44068900,0.523148,-0.048148,0.2960,0.000,0.937,0.062,0
284,90.610001,90.400002,94.000000,56396800,0.510927,0.034368,0.2468,0.031,0.926,0.043,1
285,90.610001,90.400002,94.000000,56396800,0.378289,0.116071,0.9942,0.004,0.826,0.170,1

In [41]:
#Create the feature data set
X = df1
X = np.array(X.drop(["Label"], 1))

#Create the target data set
y = np.array(df1["Label"])

C:\Users\47478\AppData\Local\Temp/ipykernel_11548/3997290794.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = np.array(X.drop(["Label"], 1))

In [42]:
X

array([[5.6150002e+01, 5.5529999e+01, 5.6840000e+01, ..., 1.8000000e-02,
        8.7700000e-01, 1.0500000e-01],
       [5.6150002e+01, 5.5529999e+01, 5.6840000e+01, ..., 1.0000000e-02,
        8.8300000e-01, 1.0700000e-01],
       [5.6150002e+01, 5.5529999e+01, 5.6840000e+01, ..., 3.2000000e-02,
        8.5100000e-01, 1.1700000e-01],
       ...,
       [8.9500000e+01, 8.7080002e+01, 9.0459999e+01, ..., 0.0000000e+00,
        9.3700000e-01, 6.2000000e-02],
       [9.0610001e+01, 9.0400002e+01, 9.4000000e+01, ..., 3.1000000e-02,
        9.2600000e-01, 4.3000000e-02],
       [9.0610001e+01, 9.0400002e+01, 9.4000000e+01, ..., 4.0000000e-03,
        8.2600000e-01, 1.7000000e-01]])

In [43]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1],
      dtype=int64)

In [44]:
x_test = X

In [45]:
len(x_test)

286

In [46]:
y_test = y

In [48]:
len(y_test)

286

In [49]:
#Create a list of column to keep
keep_columns2 = ["Open", "Low", "High", "Volume", "Subjectivity", "Polarity", "Compound", "Negative", "Neutral", "Positive", "Label"]
df2 = MicrosoftTrain[keep_columns2]
df2

,Open,Low,High,Volume,Subjectivity,Polarity,Compound,Negative,Neutral,Positive,Label
0,27.870001,27.650000,28.020000,49370800,0.474964,0.112476,0.9902,0.026,0.830,0.144,1
1,27.930000,27.790001,28.250000,60196100,0.436944,0.104343,0.7959,0.070,0.823,0.107,1
2,27.930000,27.790001,28.250000,60196100,0.412778,0.042500,0.9670,0.024,0.862,0.114,1
3,28.820000,28.750000,29.740000,165902900,0.360816,0.081318,0.9852,0.030,0.829,0.142,1
4,28.820000,28.750000,29.740000,165902900,0.348056,0.059833,0.7840,0.061,0.847,0.092,1
...,...,...,...,...,...,...,...,...,...,...,...
1137,53.950001,53.209999,54.000000,32024400,0.519841,0.030159,0.2960,0.000,0.937,0.062,0
1138,53.700001,53.549999,54.340000,31433900,0.528232,0.062512,0.9870,0.013,0.894,0.093,1
1139,53.700001,53.549999,54.340000,31433900,0.213019,0.013586,0.9982,0.031,0.872,0.097,1
1140,53.709999,52.930000,53.900002,53336500,0.472899,0.149160,0.9201,0.117,0.737,0.146,0
1141,53.709999,52.930000,53.900002,53336500,0.367139,0.074944,0.9818,0.022,0.882,0.096,0

In [50]:
#Create the feature data set
X1 = df2
X1 = np.array(X1.drop(["Label"], 1))

#Create the target data set
y1 = np.array(df2["Label"])

C:\Users\47478\AppData\Local\Temp/ipykernel_11548/791745654.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X1 = np.array(X1.drop(["Label"], 1))

In [51]:
X1

array([[2.7870001e+01, 2.7650000e+01, 2.8020000e+01, ..., 2.6000000e-02,
        8.3000000e-01, 1.4400000e-01],
       [2.7930000e+01, 2.7790001e+01, 2.8250000e+01, ..., 7.0000000e-02,
        8.2300000e-01, 1.0700000e-01],
       [2.7930000e+01, 2.7790001e+01, 2.8250000e+01, ..., 2.4000000e-02,
        8.6200000e-01, 1.1400000e-01],
       ...,
       [5.3700001e+01, 5.3549999e+01, 5.4340000e+01, ..., 3.1000000e-02,
        8.7200000e-01, 9.7000000e-02],
       [5.3709999e+01, 5.2930000e+01, 5.3900002e+01, ..., 1.1700000e-01,
        7.3700000e-01, 1.4600000e-01],
       [5.3709999e+01, 5.2930000e+01, 5.3900002e+01, ..., 2.2000000e-02,
        8.8200000e-01, 9.6000000e-02]])

In [52]:
y1

array([1, 1, 1, ..., 1, 0, 0], dtype=int64)

In [53]:
x_train = X1

In [54]:
len(X1)

1142

In [56]:
y_train = y1

In [70]:
len(y1)

1142

In [58]:
#Create and train the model
model = LinearDiscriminantAnalysis().fit(x_train, y_train)

In [59]:
#Show the models predictions
predictions = model.predict(x_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1],
      dtype=int64)

In [60]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1],
      dtype=int64)

In [61]:
#Show the model metrics
print( classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.74      0.86      0.80       150
           1       0.81      0.67      0.73       136

    accuracy                           0.77       286
   macro avg       0.78      0.76      0.77       286
weighted avg       0.78      0.77      0.77       286

In [62]:
#Create and train the model (Naive Bayes)
from sklearn.naive_bayes import GaussianNB
modelNB = GaussianNB()

In [63]:
#Train the model
modelNB.fit(x_train, y_train)

GaussianNB()

In [64]:
#Accuracy for modellen
modelNB.score(x_test, y_test)

0.5174825174825175

In [65]:
x_test[:10]

array([[5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        4.47930658e-01, 1.67138957e-01, 9.84400000e-01, 1.80000000e-02,
        8.77000000e-01, 1.05000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        3.98984349e-01, 6.89810190e-02, 9.66400000e-01, 1.00000000e-02,
        8.83000000e-01, 1.07000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        5.55121528e-01, 7.81250000e-02, 9.47700000e-01, 3.20000000e-02,
        8.51000000e-01, 1.17000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        4.54653680e-01, 1.26862374e-01, 9.89700000e-01, 2.30000000e-02,
        8.37000000e-01, 1.40000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        3.45879247e-01, 7.42825987e-02, 9.87200000e-01, 0.00000000e+00,
        8.04000000e-01, 1.96000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        3.81649462e-01, 5.35528361e-02, 9.86200000e-01, 6.30000000e-02,
        7.67000000e-01, 1.70000000e-01],
       [5.61500020e+01, 5.55299990e+01, 5.68400000e+01, 8.98933000e+07,
        4.23091441e-01, 4.69298246e-03, 1.28000000e-01, 7.70000000e-02,
        8.45000000e-01, 7.80000000e-02],
       [5.59800000e+01, 5.57599980e+01, 5.62300000e+01, 3.27767000e+07,
        5.15352183e-01, 1.53706034e-01, 9.87400000e-01, 7.00000000e-03,
        9.08000000e-01, 8.50000000e-02],
       [5.59800000e+01, 5.57599980e+01, 5.62300000e+01, 3.27767000e+07,
        4.60470504e-01, 1.47808717e-01, 9.95900000e-01, 4.90000000e-02,
        7.76000000e-01, 1.75000000e-01],
       [5.59800000e+01, 5.57599980e+01, 5.62300000e+01, 3.27767000e+07,
        4.22645299e-01, 7.58162393e-02, 9.84400000e-01, 3.50000000e-02,
        8.56000000e-01, 1.08000000e-01]])

In [66]:
#Faktisk oppgang eller nedgang
y_test[:100]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0], dtype=int64)

In [67]:
#Sjekker om vi modellen predikerer rett
modelNB.predict(x_test[:100])

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0], dtype=int64)

In [68]:
#Sjekker sannsynligheten for oppgang og nedgang
Bayes = modelNB.predict_proba(x_test)

In [69]:
Bayes

array([[0.62064864, 0.37935136],
       [0.62064864, 0.37935136],
       [0.62064864, 0.37935136],
       [0.62064864, 0.37935136],
       [0.62064864, 0.37935136],
       [0.62064864, 0.37935136],
       [0.62064863, 0.37935137],
       [0.47706233, 0.52293767],
       [0.47706233, 0.52293767],
       [0.47706233, 0.52293767],
       [0.47706233, 0.52293767],
       [0.47706233, 0.52293767],
       [0.47706233, 0.52293767],
       [0.47706233, 0.52293767],
       [0.47706233, 0.52293767],
       [0.4763927 , 0.5236073 ],
       [0.4763927 , 0.5236073 ],
       [0.47639269, 0.52360731],
       [0.47247458, 0.52752542],
       [0.47657461, 0.52342539],
       [0.47657461, 0.52342539],
       [0.4765746 , 0.5234254 ],
       [0.47657461, 0.52342539],
       [0.48288023, 0.51711977],
       [0.48288023, 0.51711977],
       [0.48288023, 0.51711977],
       [0.48288023, 0.51711977],
       [0.48288023, 0.51711977],
       [0.4747557 , 0.5252443 ],
       [0.4747557 , 0.5252443 ],
       [0.47080707, 0.52919293],
       [0.47080708, 0.52919292],
       [0.47977445, 0.52022555],
       [0.47125397, 0.52874603],
       [0.47359018, 0.52640982],
       [0.4735902 , 0.5264098 ],
       [0.4735902 , 0.5264098 ],
       [0.46648702, 0.53351298],
       [0.46802446, 0.53197554],
       [0.46802447, 0.53197553],
       [0.46802447, 0.53197553],
       [0.46691301, 0.53308699],
       [0.46745869, 0.53254131],
       [0.46674355, 0.53325645],
       [0.46674354, 0.53325646],
       [0.46674355, 0.53325645],
       [0.46549681, 0.53450319],
       [0.46549681, 0.53450319],
       [0.46619458, 0.53380542],
       [0.46619459, 0.53380541],
       [0.46567433, 0.53432567],
       [0.46669568, 0.53330432],
       [0.46669568, 0.53330432],
       [0.46648344, 0.53351656],
       [0.46648343, 0.53351657],
       [0.46662812, 0.53337188],
       [0.46767436, 0.53232564],
       [0.46595136, 0.53404864],
       [0.46609298, 0.53390702],
       [0.46762027, 0.53237973],
       [0.46676045, 0.53323955],
       [0.46676044, 0.53323956],
       [0.46591589, 0.53408411],
       [0.4662638 , 0.5337362 ],
       [0.47976445, 0.52023555],
       [0.47976445, 0.52023555],
       [0.47976445, 0.52023555],
       [0.47976446, 0.52023554],
       [0.47433913, 0.52566087],
       [0.47433912, 0.52566088],
       [0.46944643, 0.53055357],
       [0.49361799, 0.50638201],
       [0.49361799, 0.50638201],
       [0.493618  , 0.506382  ],
       [0.4662297 , 0.5337703 ],
       [0.4671404 , 0.5328596 ],
       [0.4671404 , 0.5328596 ],
       [0.46804277, 0.53195723],
       [0.47246241, 0.52753759],
       [0.47246241, 0.52753759],
       [0.46746453, 0.53253547],
       [0.46746452, 0.53253548],
       [0.46746453, 0.53253547],
       [0.47040851, 0.52959149],
       [0.4672574 , 0.5327426 ],
       [0.46603543, 0.53396457],
       [0.46603544, 0.53396456],
       [0.46725851, 0.53274149],
       [0.46725852, 0.53274148],
       [0.47118342, 0.52881658],
       [0.46830834, 0.53169166],
       [0.47030135, 0.52969865],
       [0.47190653, 0.52809347],
       [0.46870982, 0.53129018],
       [0.46870983, 0.53129017],
       [0.46870982, 0.53129018],
       [0.50247382, 0.49752618],
       [0.50247381, 0.49752619],
       [0.58513049, 0.41486951],
       [0.58513048, 0.41486952],
       [0.58513049, 0.41486951],
       [0.51200582, 0.48799418],
       [0.47979021, 0.52020979],
       [0.47979022, 0.52020978],
       [0.47979022, 0.52020978],
       [0.47979022, 0.52020978],
       [0.47412746, 0.52587254],
       [0.47412745, 0.52587255],
       [0.47281982, 0.52718018],
       [0.47281982, 0.52718018],
       [0.47281982, 0.52718018],
       [0.47795117, 0.52204883],
       [0.47795117, 0.52204883],
       [0.4697566 , 0.5302434 ],
       [0.46828971, 0.53171029],
       [0.46828972, 0.53171028],
       [0.47301239, 0.52698761],
       [0.5028179 , 0.4971821 ],
       [0.48454917, 0.51545083],
       [0.48454918, 0.51545082],
       [0.48074025, 0.51925975],
       [0.48074026, 0.51925974],
       [0.46706549, 0.53293451],
       [0.46841188, 0.53158812],
       [0.46841188, 0.53158812],
       [0.46841188, 0.53158812],
       [0.46841188, 0.53158812],
       [0.47920982, 0.52079018],
       [0.47907568, 0.52092432],
       [0.47907569, 0.52092431],
       [0.47044544, 0.52955456],
       [0.47500082, 0.52499918],
       [0.47500083, 0.52499917],
       [0.46779744, 0.53220256],
       [0.47186042, 0.52813958],
       [0.47186042, 0.52813958],
       [0.47186043, 0.52813957],
       [0.46730521, 0.53269479],
       [0.48050595, 0.51949405],
       [0.47212486, 0.52787514],
       [0.47212485, 0.52787515],
       [0.47212486, 0.52787514],
       [0.49006645, 0.50993355],
       [0.46613823, 0.53386177],
       [0.4683036 , 0.5316964 ],
       [0.4683036 , 0.5316964 ],
       [0.4683036 , 0.5316964 ],
       [0.46530387, 0.53469613],
       [0.46529556, 0.53470444],
       [0.46529557, 0.53470443],
       [0.47049002, 0.52950998],
       [0.46785747, 0.53214253],
       [0.46785746, 0.53214254],
       [0.46998968, 0.53001032],
       [0.46998969, 0.53001031],
       [0.46718161, 0.53281839],
       [0.46738953, 0.53261047],
       [0.46664026, 0.53335974],
       [0.46664027, 0.53335973],
       [0.46664026, 0.53335974],
       [0.46794899, 0.53205101],
       [0.467949  , 0.532051  ],
       [0.467949  , 0.532051  ],
       [0.46696725, 0.53303275],
       [0.46696728, 0.53303272],
       [0.46696728, 0.53303272],
       [0.46696726, 0.53303274],
       [0.46696728, 0.53303272],
       [0.46752237, 0.53247763],
       [0.46658813, 0.53341187],
       [0.46658812, 0.53341188],
       [0.46658813, 0.53341187],
       [0.46658813, 0.53341187],
       [0.46658813, 0.53341187],
       [0.47441552, 0.52558448],
       [0.47441552, 0.52558448],
       [0.47441552, 0.52558448],
       [0.46984937, 0.53015063],
       [0.46984937, 0.53015063],
       [0.4691917 , 0.5308083 ],
       [0.46919171, 0.53080829],
       [0.49185043, 0.50814957],
       [0.49397331, 0.50602669],
       [0.49397332, 0.50602668],
       [0.49397331, 0.50602669],
       [0.49397332, 0.50602668],
       [0.49397332, 0.50602668],
       [0.49397332, 0.50602668],
       [0.49397332, 0.50602668],
       [0.49397332, 0.50602668],
       [0.49397332, 0.50602668],
       [0.47026559, 0.52973441],
       [0.48583486, 0.51416514],
       [0.48583487, 0.51416513],
       [0.48583487, 0.51416513],
       [0.48583487, 0.51416513],
       [0.49572951, 0.50427049],
       [0.49572951, 0.50427049],
       [0.49572951, 0.50427049],
       [0.49572951, 0.50427049],
       [0.49572951, 0.50427049],
       [0.47450048, 0.52549952],
       [0.47450047, 0.52549953],
       [0.46734039, 0.53265961],
       [0.46734038, 0.53265962],
       [0.46734039, 0.53265961],
       [0.4664607 , 0.5335393 ],
       [0.4664607 , 0.5335393 ],
       [0.46646069, 0.53353931],
       [0.4664607 , 0.5335393 ],
       [0.4664607 , 0.5335393 ],
       [0.4664607 , 0.5335393 ],
       [0.468569  , 0.531431  ],
       [0.46856901, 0.53143099],
       [0.46856901, 0.53143099],
       [0.4664863 , 0.5335137 ],
       [0.46648631, 0.53351369],
       [0.46648631, 0.53351369],
       [0.46884298, 0.53115702],
       [0.46611079, 0.53388921],
       [0.46746491, 0.53253509],
       [0.4674649 , 0.5325351 ],
       [0.46746491, 0.53253509],
       [0.46746491, 0.53253509],
       [0.46746491, 0.53253509],
       [0.46780964, 0.53219036],
       [0.46780964, 0.53219036],
       [0.46780964, 0.53219036],
       [0.46691288, 0.53308712],
       [0.46691286, 0.53308714],
       [0.46733793, 0.53266207],
       [0.46809583, 0.53190417],
       [0.47152549, 0.52847451],
       [0.47152549, 0.52847451],
       [0.46975816, 0.53024184],
       [0.46661245, 0.53338755],
       [0.46794452, 0.53205548],
       [0.46714677, 0.53285323],
       [0.46714677, 0.53285323],
       [0.46701428, 0.53298572],
       [0.46701427, 0.53298573],
       [0.46701428, 0.53298572],
       [0.46701427, 0.53298573],
       [0.46701427, 0.53298573],
       [0.46550259, 0.53449741],
       [0.4699591 , 0.5300409 ],
       [0.46995909, 0.53004091],
       [0.46752597, 0.53247403],
       [0.46752598, 0.53247402],
       [0.50201034, 0.49798966],
       [0.50201034, 0.49798966],
       [0.50201034, 0.49798966],
       [0.46555375, 0.53444625],
       [0.4712904 , 0.5287096 ],
       [0.47129041, 0.52870959],
       [0.47129041, 0.52870959],
       [0.4675287 , 0.5324713 ],
       [0.46690281, 0.53309719],
       [0.46690279, 0.53309721],
       [0.46690281, 0.53309719],
       [0.46690281, 0.53309719],
       [0.4669028 , 0.5330972 ],
       [0.4685524 , 0.5314476 ],
       [0.46664709, 0.53335291],
       [0.46725013, 0.53274987],
       [0.46541132, 0.53458868],
       [0.46564958, 0.53435042],
       [0.46770395, 0.53229605],
       [0.46770396, 0.53229604],
       [0.48007538, 0.51992462],
       [0.48007538, 0.51992462],
       [0.48007538, 0.51992462],
       [0.48007538, 0.51992462],
       [0.47634215, 0.52365785],
       [0.47205661, 0.52794339],
       [0.47205661, 0.52794339],
       [0.47205661, 0.52794339],
       [0.4720566 , 0.5279434 ],
       [0.4720566 , 0.5279434 ],
       [0.50172417, 0.49827583],
       [0.46968484, 0.53031516],
       [0.48430099, 0.51569901],
       [0.48430099, 0.51569901],
       [0.49268968, 0.50731032],
       [0.51721247, 0.48278753],
       [0.51721249, 0.48278751]])